<div id="login">

<div id="login-wrapper">

<div id="login-body">

<h1 class="sr-only">Leaf</h1>

<form method="post">

<div class="field">
<div class="input-group">
<span class="input-group-addon"><em class="glyphicon glyphicon-mail"></em></span>
<label for="email" class="sr-only">E-mail address</label>
<input type="text" id="email" class="form-control textfield" size="40" value="" placeholder="E-mail address" />
</div>
</diV>

<div class="field">
<div class="input-group">
<span class="input-group-addon"><span class="glyphicon glyphicon-locked"></span></span>
<label for="password" class="sr-only">Password</label>
<input type="password" id="password" class="form-control textfield" size="40" value="" placeholder="Password" />
</div>
</div>

<div class="field">
<button type="submit" class="btn btn-block btn-success">Login</button>
</div>

<p><a href="#">Forgotten password?</a></p>

</form>

</div>

</div>

</div>
