<div id="login-form" class="form-wrapper">

<div class="form-content">

<div class="form-body">

<div id="alerts"></div>

<h1 class="sr-only">Leaf</h1>

<form name="form" method="post" novalidate ng-submit="login()">

<div class="form-field">
<label for="email" class="sr-only">E-mail address</label>
<div class="input">
<span class="glyphicon glyphicon-mail"></span>
<input type="email" id="email" name="email" class="textfield" size="40" ng-model="user.email" placeholder="E-mail address" required />
</div>
</div>

<div class="form-field">
<label for="password" class="sr-only">Password</label>
<div class="input">
<span class="glyphicon glyphicon-locked"></span>
<input type="password" id="password" name="password" class="textfield" size="40" ng-model="user.password" placeholder="Password" required />
</div>
</div>

<div class="form-field">
<button type="submit" class="btn btn-block btn-success">Login</button>
</div>

<p><a href="lost-password/" class="form-link">Forgotten password?</a></p>

</form>

</div>

</div>

</div>