<div id="lost-password-form" class="credential-form">

<div class="credential-form-wrapper">

<div class="credential-form-content">

<h1 class="sr-only">Leaf</h1>

<div id="alerts"></div>

<form name="form" method="post" novalidate ng-submit="setNewPassword()">

<div class="form-group">
<label for="email" class="sr-only">E-mail address</label>
<input type="email" id="email" name="email" class="form-control" size="40" ng-model="email" required placeholder="E-mail address" />
</div>

<div class="form-group">
<button type="submit" class="btn btn-block btn-primary text-uppercase">Send new password</button>
</div>

</form>

</div>

</div>

</div>