<div id="lost-password-form" class="form-wrapper">

<div class="form-content">

<div class="form-body">

<div id="alerts"></div>

<h1 class="sr-only">Leaf</h1>

<form name="form" method="post" novalidate ng-submit="setNewPassword()">

<div class="form-field">
<label for="email" class="sr-only">E-mail address</label>
<div class="input">
<input type="email" id="email" name="email" class="textfield" size="40" ng-model="email" placeholder="E-mail address" required />
</div>
</div>

<div class="form-field">
<button type="submit" class="btn btn-block btn-primary">Send new password</button>
</div>

</form>

</div>

</div>

</div>