<div id="lost-password-form" class="user-form">

<div class="user-form-content">

<div class="user-form-body">

<h1 class="sr-only">Leaf</h1>

<form method="post" novalidate>

<div class="user-form-field">
<label for="email" class="sr-only">E-mail address</label>
<div class="input">
<input type="text" id="email" class="form-control textfield" size="40" value="" placeholder="E-mail address" />
</div>
</div>

<div class="user-form-field">
<button type="submit" class="btn btn-block btn-primary">Send new password</button>
</div>

</form>

</div>

</div>

</div>
