<div id="signup-form" class="credential-form">

<div class="credential-form-wrapper">

<div class="credential-form-content">

<h1 class="sr-only">Leaf</h1>

<div id="alerts"></div>

<form name="form" method="post" novalidate ng-submit="signup()">

<div class="form-group">
<label for="fullname" class="sr-only">Full name</label>
<input type="text" id="fullname" name="fullname" class="form-control" size="40" maxlength="100" ng-model="user.fullname" required placeholder="Full name" />
</div>

<div class="form-group">
<label for="email" class="sr-only">E-mail address</label>
<input type="email" id="email" name="email" class="form-control" size="40" maxlength="100" ng-model="user.email" required placeholder="E-mail address" />
</div>

<div class="form-group">
<label for="password" class="sr-only">Password</label>
<input type="password" id="password" name="password" class="form-control" size="40" ng-minlength="8" ng-model="user.password" required placeholder="Password" />
</div>

<div class="form-group">
<button type="submit" class="btn btn-block btn-primary text-uppercase">Sign up</button>
</div>

</form>

</div>

</div>

</div>