<div ng-include="'app/shared/header.html'"></div>

<!-- Help modal -->

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-title">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="help-modal-title" class="modal-title">Help</h3>
</div>
<div class="modal-body">

</div>
</div>
</div>
</div>

<!-- End help modal -->

<!-- Main -->

<main>

<!-- Title bar -->

<div id="title-bar">
<h2 id="title">{{$state.current.title}}</h2>
<div id="title-bar-controls">
<button type="button" class="btn btn-success toggle-sidebar"><span class="glyphicon glyphicon-folder hidden-md hidden-lg"></span><span class="hidden-xs hidden-sm">Upload</span></button>
</div>
</div>

<!-- End title bar -->

<!-- Content -->

<div id="content">

<!-- Delete media modal -->

<div id="delete-media-modal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<p>Do you really want to delete this media?</p>
</div>
<div class="modal-footer modal-buttons">
<button type="button" class="btn btn-success">Yes</button>
<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
</div>
</div>
</div>
</div>

<!-- End delete media modal -->

<div class="list">

<div class="item">
<div class="item-left media-middle">
<img src="http://gravatar.com/avatar/63c3fda00b0c68025e691645725678cc.jpg?s=48&amp;d=mm" alt="Image-1 " />
</div>
<div class="item-body">
<h3>Image-1</h3>
<p>January 11, 2017</p>
</div>
<a href="#" class="toggle-sidebar">Edit</a>
</div>

<div class="item">
<div class="item-left">
<img src="http://gravatar.com/avatar/63c3fda00b0c68025e691645725678cc.jpg?s=48&amp;d=mm" alt="Video-1" />
</div>
<div class="item-body">
<h3>Video-1</h3>
<p>January 11, 2017</p>
</div>
<a href="#" class="toggle-sidebar">Edit</a>
</div>

<div class="item">
<div class="item-left">
<img src="http://gravatar.com/avatar/63c3fda00b0c68025e691645725678cc.jpg?s=48&amp;d=mm" alt="Video-2" />
</div>
<div class="item-body">
<h3>Video-2</h3>
<p>January 11, 2017</p>
</div>
<a href="#" class="toggle-sidebar">Edit</a>
</div>

<div class="item">
<div class="item-left">
<img src="http://gravatar.com/avatar/63c3fda00b0c68025e691645725678cc.jpg?s=48&amp;d=mm" alt="Image-2" />
</div>
<div class="item-body">
<h3>Image-2</h3>
<p>January 11, 2017</p>
</div>
<a href="#" class="toggle-sidebar">Edit</a>
</div>

</div>

</div>

<!-- End content -->

</main>

<!-- End main -->

<!-- Sidebar -->

<aside id="sidebar">
<div class="title clearfix">
<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3>Upload file</h3>
</div>
<div class="side-body">
<div class="side-body-content">

<div class="field">
<div class="upload">
<div class="upload-body">
<span class="glyphicon glyphicon-image"></span>
<p>Add image</p>
</div>
<div class="upload-buttons">
<button type="button" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-link"></span><span class="sr-only">From URL</span></button>
<button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#delete-media-modal"><span class="glyphicon glyphicon-trash-2"></span><span class="sr-only">Delete</span></button>
</div>
</div>
</div>

</div>
</div>
</aside>

<!-- End sidebar -->