@font-face {
font-family: 'Glyphicons Halflings';
src: url('../fonts/glyphicons.eot');
src: url('../fonts/glyphicons.eot?#iefix') format('embedded-opentype'),url('../fonts/glyphicons.woff') format('woff'),url('../fonts/glyphicons.ttf') format('truetype'),url('../fonts/glyphicons.svg#webfont') format('svg');
}

.glyphicon-accessibility:before {
content: '\e000';
}

.glyphicon-address:before {
content: '\e002';
}

.glyphicon-airplane:before {
content: '\e003';
}

.glyphicon-alarm-clock:before {
content: '\e004';
}

.glyphicon-amazon:before {
content: '\e00b';
}

.glyphicon-anchor:before {
content: '\e00c';
}

.glyphicon-apple:before {
content: '\e00d';
}

.glyphicon-appstore:before {
content: '\e00e';
}

.glyphicon-at:before {
content: '\e00f';
}

.glyphicon-atom:before {
content: '\e010';
}

.glyphicon-attachment:before {
content: '\e011';
}

.glyphicon-backward:before {
content: '\e012';
}

.glyphicon-bar-chart:before {
content: '\e013';
}

.glyphicon-bluetooth:before {
content: '\e015';
}

.glyphicon-bold:before {
content: '\e016';
}

.glyphicon-book:before {
content: '\e017';
}

.glyphicon-bookmarks:before {
content: '\e018';
}

.glyphicon-box:before {
content: '\e019';
}

.glyphicon-brush:before {
content: '\e01a';
}

.glyphicon-calc:before {
content: '\e01c';
}

.glyphicon-calendar:before {
content: '\e01d';
}

.glyphicon-call:before {
content: '\e01e';
}

.glyphicon-camera:before {
content: '\e01f';
}

.glyphicon-card:before {
content: '\e020';
}

.glyphicon-caret-down:before {
content: '\e021';
}

.glyphicon-caret-up:before {
content: '\e022';
}

.glyphicon-carousel:before {
content: '\e023';
}

.glyphicon-cart:before {
content: '\e024';
}

.glyphicon-cc:before {
content: '\e026';
}

.glyphicon-chat:before {
content: '\e027';
}

.glyphicon-chatbubble:before {
content: '\e028';
}

.glyphicon-check:before {
content: '\e029';
}

.glyphicon-check-all:before {
content: '\e02a';
}

.glyphicon-chrome:before {
content: '\e02b';
}

.glyphicon-clear:before {
content: '\e02c';
}

.glyphicon-clipboard:before {
content: '\e02d';
}

.glyphicon-cloud:before {
content: '\e02e';
}

.glyphicon-command:before {
content: '\e02f';
}

.glyphicon-compose:before {
content: '\e030';
}

.glyphicon-controller-a:before {
content: '\e032';
}

.glyphicon-controller-b:before {
content: '\e033';
}

.glyphicon-copy:before {
content: '\e034';
}

.glyphicon-cover:before {
content: '\e035';
}

.glyphicon-coverflow:before {
content: '\e036';
}

.glyphicon-cup:before {
content: '\e037';
}

.glyphicon-cupful:before {
content: '\e038';
}

.glyphicon-dashboard:before {
content: '\e039';
}

.glyphicon-db:before {
content: '\e03a';
}

.glyphicon-delete:before {
content: '\e03b';
}

.glyphicon-delicious:before {
content: '\e03c';
}

.glyphicon-deny:before {
content: '\e03d';
}

.glyphicon-design:before {
content: '\e03e';
}

.glyphicon-devices:before {
content: '\e03f';
}

.glyphicon-dialpad:before {
content: '\e040';
}

.glyphicon-digg:before {
content: '\e041';
}

.glyphicon-disc:before {
content: '\e042';
}

.glyphicon-discussion:before {
content: '\e043';
}

.glyphicon-diskette:before {
content: '\e044';
}

.glyphicon-document:before {
content: '\e045';
}

.glyphicon-go-down:before {
content: '\e046';
}

.glyphicon-download:before {
content: '\e047';
}

.glyphicon-dribbble:before {
content: '\e048';
}

.glyphicon-drink:before {
content: '\e049';
}

.glyphicon-dropbox:before {
content: '\e04a';
}

.glyphicon-ebay:before {
content: '\e04b';
}

.glyphicon-eject:before {
content: '\e04c';
}

.glyphicon-equalizer:before {
content: '\e04d';
}

.glyphicon-excel:before {
content: '\e04e';
}

.glyphicon-facebook:before {
content: '\e04f';
}

.glyphicon-fastforward:before {
content: '\e050';
}

.glyphicon-feather:before {
content: '\e051';
}

.glyphicon-filed:before {
content: '\e052';
}

.glyphicon-film:before {
content: '\e053';
}

.glyphicon-firefox:before {
content: '\e054';
}

.glyphicon-flag:before {
content: '\e055';
}

.glyphicon-flame:before {
content: '\e056';
}

.glyphicon-flickr:before {
content: '\e057';
}

.glyphicon-flip:before {
content: '\e058';
}

.glyphicon-flock:before {
content: '\e059';
}

.glyphicon-flow-cross:before {
content: '\e05a';
}

.glyphicon-flow-double:before {
content: '\e05b';
}

.glyphicon-flow-parallel:before {
content: '\e05c';
}

.glyphicon-flow-tree:before {
content: '\e05d';
}

.glyphicon-flow-triple:before {
content: '\e05e';
}

.glyphicon-font:before {
content: '\e05f';
}

.glyphicon-forbidden:before {
content: '\e060';
}

.glyphicon-forward:before {
content: '\e061';
}

.glyphicon-fuel:before {
content: '\e062';
}

.glyphicon-fullscreen:before {
content: '\e063';
}

.glyphicon-gift:before {
content: '\e065';
}

.glyphicon-github:before {
content: '\e066';
}

.glyphicon-go-back:before {
content: '\e067';
}

.glyphicon-go-forward:before {
content: '\e068';
}

.glyphicon-google-drive:before {
content: '\e069';
}

.glyphicon-google-plus:before {
content: '\e06a';
}

.glyphicon-grid:before {
content: '\e06b';
}

.glyphicon-group:before {
content: '\e06c';
}

.glyphicon-hard-drive:before {
content: '\e06d';
}

.glyphicon-hash:before {
content: '\e06e';
}

.glyphicon-history:before {
content: '\e071';
}

.glyphicon-html5-1:before {
content: '\e073';
}

.glyphicon-icecream:before {
content: '\e074';
}

.glyphicon-ie:before {
content: '\e075';
}

.glyphicon-image:before {
content: '\e076';
}

.glyphicon-images:before {
content: '\e077';
}

.glyphicon-inbox:before {
content: '\e078';
}

.glyphicon-indent:before {
content: '\e079';
}

.glyphicon-infinity:before {
content: '\e07a';
}

.glyphicon-instagram:before {
content: '\e07c';
}

.glyphicon-ipod:before {
content: '\e07d';
}

.glyphicon-italic:before {
content: '\e07e';
}

.glyphicon-key:before {
content: '\e07f';
}

.glyphicon-keyboard:before {
content: '\e080';
}

.glyphicon-keypad:before {
content: '\e081';
}

.glyphicon-label:before {
content: '\e082';
}

.glyphicon-labels:before {
content: '\e083';
}

.glyphicon-languages:before {
content: '\e084';
}

.glyphicon-laptop:before {
content: '\e085';
}

.glyphicon-lastfm:before {
content: '\e086';
}

.glyphicon-law:before {
content: '\e087';
}

.glyphicon-layers:before {
content: '\e088';
}

.glyphicon-leaf-1:before {
content: '\e089';
}

.glyphicon-go-left:before {
content: '\e08a';
}

.glyphicon-go-back-double:before {
content: '\e08b';
}

.glyphicon-license:before {
content: '\e08c';
}

.glyphicon-lightning:before {
content: '\e08d';
}

.glyphicon-line-chart:before {
content: '\e08e';
}

.glyphicon-line-spacing:before {
content: '\e08f';
}

.glyphicon-link:before {
content: '\e090';
}

.glyphicon-linkedin:before {
content: '\e091';
}

.glyphicon-locked:before {
content: '\e093';
}

.glyphicon-magento:before {
content: '\e094';
}

.glyphicon-magnet:before {
content: '\e095';
}

.glyphicon-map:before {
content: '\e097';
}

.glyphicon-maxthon:before {
content: '\e098';
}

.glyphicon-medal:before {
content: '\e099';
}

.glyphicon-mic:before {
content: '\e09a';
}

.glyphicon-mic-off:before {
content: '\e09b';
}

.glyphicon-microscope:before {
content: '\e09c';
}

.glyphicon-minus:before {
content: '\e09d';
}

.glyphicon-monitor:before {
content: '\e09e';
}

.glyphicon-more:before {
content: '\e09f';
}

.glyphicon-more-vertical:before {
content: '\e0a0';
}

.glyphicon-mortar-board:before {
content: '\e0a1';
}

.glyphicon-mouse:before {
content: '\e0a2';
}

.glyphicon-multitrack:before {
content: '\e0a3';
}

.glyphicon-music:before {
content: '\e0a4';
}

.glyphicon-navigator:before {
content: '\e0a6';
}

.glyphicon-network:before {
content: '\e0a8';
}

.glyphicon-note:before {
content: '\e0a9';
}

.glyphicon-opera:before {
content: '\e0aa';
}

.glyphicon-ordered-list:before {
content: '\e0ab';
}

.glyphicon-outdent:before {
content: '\e0ac';
}

.glyphicon-page:before {
content: '\e0ad';
}

.glyphicon-paint:before {
content: '\e0ae';
}

.glyphicon-palette-1:before {
content: '\e0af';
}

.glyphicon-paperplane:before {
content: '\e0b0';
}

.glyphicon-paragraph:before {
content: '\e0b1';
}

.glyphicon-pause:before {
content: '\e0b2';
}

.glyphicon-paypal:before {
content: '\e0b3';
}

.glyphicon-pdf:before {
content: '\e0b4';
}

.glyphicon-picasa:before {
content: '\e0b5';
}

.glyphicon-pin:before {
content: '\e0b7';
}

.glyphicon-pinterest:before {
content: '\e0b8';
}

.glyphicon-pizza:before {
content: '\e0b9';
}

.glyphicon-planet:before {
content: '\e0ba';
}

.glyphicon-play:before {
content: '\e0bb';
}

.glyphicon-plugin:before {
content: '\e0bc';
}

.glyphicon-plus:before {
content: '\e0bd';
}

.glyphicon-pointer:before {
content: '\e0be';
}

.glyphicon-power:before {
content: '\e0bf';
}

.glyphicon-pressure:before {
content: '\e0c0';
}

.glyphicon-price:before {
content: '\e0c1';
}

.glyphicon-printer:before {
content: '\e0c2';
}

.glyphicon-puzzle:before {
content: '\e0c3';
}

.glyphicon-quote:before {
content: '\e0c4';
}

.glyphicon-receipt:before {
content: '\e0c5';
}

.glyphicon-recipient:before {
content: '\e0c6';
}

.glyphicon-record:before {
content: '\e0c7';
}

.glyphicon-reddit:before {
content: '\e0c8';
}

.glyphicon-reminder:before {
content: '\e0c9';
}

.glyphicon-restaurant:before {
content: '\e0ca';
}

.glyphicon-retweet:before {
content: '\e0cb';
}

.glyphicon-rewind:before {
content: '\e0cc';
}

.glyphicon-go-right:before {
content: '\e0cd';
}

.glyphicon-go-forward-double:before {
content: '\e0ce';
}

.glyphicon-rocket:before {
content: '\e0cf';
}

.glyphicon-rss:before {
content: '\e0d0';
}

.glyphicon-safari:before {
content: '\e0d1';
}

.glyphicon-sea:before {
content: '\e0d2';
}

.glyphicon-settings:before {
content: '\e0d4';
}

.glyphicon-shell:before {
content: '\e0d6';
}

.glyphicon-shuffle:before {
content: '\e0d7';
}

.glyphicon-signal:before {
content: '\e0d8';
}

.glyphicon-size:before {
content: '\e0d9';
}

.glyphicon-skip-backward:before {
content: '\e0da';
}

.glyphicon-skip-forward:before {
content: '\e0db';
}

.glyphicon-skype:before {
content: '\e0dc';
}

.glyphicon-smartphone:before {
content: '\e0dd';
}

.glyphicon-soundcloud:before {
content: '\e0de';
}

.glyphicon-speaker:before {
content: '\e0df';
}

.glyphicon-spellcheck:before {
content: '\e0e0';
}

.glyphicon-squirrel:before {
content: '\e0e1';
}

.glyphicon-stack:before {
content: '\e0e2';
}

.glyphicon-star:before {
content: '\e0e3';
}

.glyphicon-stop:before {
content: '\e0e4';
}

.glyphicon-stopwatch:before {
content: '\e0e5';
}

.glyphicon-storage:before {
content: '\e0e6';
}

.glyphicon-store:before {
content: '\e0e7';
}

.glyphicon-strikethrough:before {
content: '\e0e8';
}

.glyphicon-stumbleupon:before {
content: '\e0e9';
}

.glyphicon-suitcase:before {
content: '\e0ea';
}

.glyphicon-sum:before {
content: '\e0eb';
}

.glyphicon-sync:before {
content: '\e0ec';
}

.glyphicon-tablet:before {
content: '\e0ed';
}

.glyphicon-target:before {
content: '\e0ee';
}

.glyphicon-technorati:before {
content: '\e0ef';
}

.glyphicon-telephone:before {
content: '\e0f0';
}

.glyphicon-temple:before {
content: '\e0f1';
}

.glyphicon-thermometer:before {
content: '\e0f2';
}

.glyphicon-timer:before {
content: '\e0f3';
}

.glyphicon-tools:before {
content: '\e0f4';
}

.glyphicon-traffic-lights:before {
content: '\e0f5';
}

.glyphicon-trees:before {
content: '\e0f6';
}

.glyphicon-trend-down:before {
content: '\e0f7';
}

.glyphicon-trend-up:before {
content: '\e0f8';
}

.glyphicon-tumblr:before {
content: '\e0f9';
}

.glyphicon-twitter:before {
content: '\e0fa';
}

.glyphicon-umbrella:before {
content: '\e0fb';
}

.glyphicon-underline:before {
content: '\e0fc';
}

.glyphicon-unlocked:before {
content: '\e0fd';
}

.glyphicon-unordered-list:before {
content: '\e0fe';
}

.glyphicon-go-up:before {
content: '\e0ff';
}

.glyphicon-upload:before {
content: '\e100';
}

.glyphicon-user:before {
content: '\e101';
}

.glyphicon-user-add:before {
content: '\e102';
}

.glyphicon-users:before {
content: '\e103';
}

.glyphicon-versions:before {
content: '\e104';
}

.glyphicon-vertical-center:before {
content: '\e105';
}

.glyphicon-video:before {
content: '\e106';
}

.glyphicon-videos:before {
content: '\e107';
}

.glyphicon-vimeo:before {
content: '\e108';
}

.glyphicon-volume-high:before {
content: '\e109';
}

.glyphicon-volume-low:before {
content: '\e10a';
}

.glyphicon-volume-medium:before {
content: '\e10b';
}

.glyphicon-water:before {
content: '\e10c';
}

.glyphicon-wifi:before {
content: '\e10e';
}

.glyphicon-windows:before {
content: '\e10f';
}

.glyphicon-wine-glasses:before {
content: '\e110';
}

.glyphicon-wordpress:before {
content: '\e111';
}

.glyphicon-world-2:before {
content: '\e112';
}

.glyphicon-wrap:before {
content: '\e113';
}

.glyphicon-youtube:before {
content: '\e114';
}

.glyphicon-youtube-play:before {
content: '\e115';
}

.glyphicon-work:before {
content: '\e116';
}

.glyphicon-android:before {
content: '\e117';
}

.glyphicon-gesture:before {
content: '\e118';
}

.glyphicon-rotate-left:before {
content: '\e11b';
}

.glyphicon-rotate-right:before {
content: '\e11c';
}

.glyphicon-folder:before {
content: '\e11d';
}

.glyphicon-blinklist:before {
content: '\e11e';
}

.glyphicon-radio-tower:before {
content: '\e11f';
}

.glyphicon-headphones:before {
content: '\e121';
}

.glyphicon-cut:before {
content: '\e122';
}

.glyphicon-undo:before {
content: '\e123';
}

.glyphicon-redo:before {
content: '\e124';
}

.glyphicon-visibility-on:before {
content: '\e125';
}

.glyphicon-visibility-off:before {
content: '\e126';
}

.glyphicon-clock:before {
content: '\e127';
}

.glyphicon-like:before {
content: '\e128';
}

.glyphicon-dislike:before {
content: '\e129';
}

.glyphicon-people:before {
content: '\e12b';
}

.glyphicon-clothes:before {
content: '\e12c';
}

.glyphicon-screwdriver:before {
content: '\e12d';
}

.glyphicon-wrench:before {
content: '\e12e';
}

.glyphicon-tags:before {
content: '\e12f';
}

.glyphicon-battery-empty:before {
content: '\e130';
}

.glyphicon-battery-full:before {
content: '\e131';
}

.glyphicon-battery-half:before {
content: '\e132';
}

.glyphicon-battery-low:before {
content: '\e133';
}

.glyphicon-spinner:before {
content: '\e134';
}

.glyphicon-arrow-up:before {
content: '\e135';
}

.glyphicon-arrow-right:before {
content: '\e136';
}

.glyphicon-arrow-left:before {
content: '\e137';
}

.glyphicon-arrow-down:before {
content: '\e138';
}

.glyphicon-money-bag:before {
content: '\e139';
}

.glyphicon-money:before {
content: '\e13a';
}

.glyphicon-telescope:before {
content: '\e13b';
}

.glyphicon-sun:before {
content: '\e13c';
}

.glyphicon-moon:before {
content: '\e13d';
}

.glyphicon-cone:before {
content: '\e13e';
}

.glyphicon-usb:before {
content: '\e13f';
}

.glyphicon-globe:before {
content: '\e140';
}

.glyphicon-train:before {
content: '\e141';
}

.glyphicon-lightbulb:before {
content: '\e142';
}

.glyphicon-brochure:before {
content: '\e143';
}

.glyphicon-police:before {
content: '\e144';
}

.glyphicon-range-chart:before {
content: '\e145';
}

.glyphicon-pen:before {
content: '\e147';
}

.glyphicon-dollar:before {
content: '\e148';
}

.glyphicon-home:before {
content: '\e072';
}

.glyphicon-mailbox:before {
content: '\e096';
}

.glyphicon-mail:before {
content: '\e11a';
}

.glyphicon-location:before {
content: '\e092';
}

.glyphicon-car:before {
content: '\e025';
}

.glyphicon-marketing:before {
content: '\e14a';
}

.glyphicon-list:before {
content: '\e14b';
}

.glyphicon-truck:before {
content: '\e14c';
}

.glyphicon-rankings:before {
content: '\e14d';
}

.glyphicon-sailing:before {
content: '\e14e';
}

.glyphicon-ship:before {
content: '\e14f';
}

.glyphicon-chevron-down:before {
content: '\e150';
}

.glyphicon-chevron-left:before {
content: '\e151';
}

.glyphicon-chevron-right:before {
content: '\e152';
}

.glyphicon-chevron-up:before {
content: '\e153';
}

.glyphicon-dove:before {
content: '\e155';
}

.glyphicon-deviantart:before {
content: '\e158';
}

.glyphicon-edge:before {
content: '\e15b';
}

.glyphicon-css3-2:before {
content: '\e15c';
}

.glyphicon-brackets:before {
content: '\e15d';
}

.glyphicon-js:before {
content: '\e15e';
}

.glyphicon-ice-crystal:before {
content: '\e15f';
}

.glyphicon-ios:before {
content: '\e160';
}

.glyphicon-myspace:before {
content: '\e161';
}

.glyphicon-outlook:before {
content: '\e162';
}

.glyphicon-moon-cloud:before {
content: '\e163';
}

.glyphicon-moon-stars:before {
content: '\e164';
}

.glyphicon-newsvine:before {
content: '\e165';
}

.glyphicon-mastercard:before {
content: '\e166';
}

.glyphicon-php:before {
content: '\e167';
}

.glyphicon-posterous:before {
content: '\e168';
}

.glyphicon-rain:before {
content: '\e169';
}

.glyphicon-snapchat:before {
content: '\e16a';
}

.glyphicon-snow:before {
content: '\e16b';
}

.glyphicon-storm:before {
content: '\e16c';
}

.glyphicon-sun-cloud:before {
content: '\e16d';
}

.glyphicon-visa:before {
content: '\e16e';
}

.glyphicon-vine:before {
content: '\e16f';
}

.glyphicon-yelp:before {
content: '\e170';
}

.glyphicon-yahoo:before {
content: '\e171';
}

.glyphicon-xing:before {
content: '\e172';
}

.glyphicon-drink-glass:before {
content: '\e154';
}

.glyphicon-surveillance:before {
content: '\e156';
}

.glyphicon-chip:before {
content: '\e157';
}

.glyphicon-bishop:before {
content: '\e159';
}

.glyphicon-king:before {
content: '\e15a';
}

.glyphicon-knight:before {
content: '\e173';
}

.glyphicon-queen:before {
content: '\e174';
}

.glyphicon-pawn:before {
content: '\e175';
}

.glyphicon-rook:before {
content: '\e176';
}

.glyphicon-computer:before {
content: '\e031';
}

.glyphicon-help:before {
content: '\e001';
}

.glyphicon-search:before {
content: '\e070';
}

.glyphicon-trash-2:before {
content: '\e07b';
}

.glyphicon-code:before {
content: '\e181';
}

.glyphicon-markdown:before {
content: '\e183';
}

.glyphicon-compass:before {
content: '\e01b';
}

.glyphicon-hand:before {
content: '\e06f';
}

.glyphicon-notifications-on:before {
content: '\e0d3';
}

.glyphicon-notifications-off:before {
content: '\e0d5';
}

.glyphicon-arrow-move:before {
content: '\e10d';
}

.glyphicon-bug:before {
content: '\e119';
}

.glyphicon-crop:before {
content: '\e120';
}

.glyphicon-cube:before {
content: '\e12a';
}

.glyphicon-flask:before {
content: '\e177';
}

.glyphicon-female:before {
content: '\e178';
}

.glyphicon-funnel:before {
content: '\e179';
}

.glyphicon-heart:before {
content: '\e17a';
}

.glyphicon-heart-broken:before {
content: '\e17b';
}

.glyphicon-buoy:before {
content: '\e17c';
}

.glyphicon-ionic:before {
content: '\e17d';
}

.glyphicon-magic-wand:before {
content: '\e17e';
}

.glyphicon-paw:before {
content: '\e17f';
}

.glyphicon-pulse:before {
content: '\e180';
}

.glyphicon-male:before {
content: '\e184';
}

.glyphicon-nuclear:before {
content: '\e185';
}

.glyphicon-playstation:before {
content: '\e186';
}

.glyphicon-radio-waves:before {
content: '\e188';
}

.glyphicon-angular:before {
content: '\e189';
}

.glyphicon-sass:before {
content: '\e18a';
}

.glyphicon-steam:before {
content: '\e18b';
}

.glyphicon-trophy:before {
content: '\e18c';
}

.glyphicon-xbox:before {
content: '\e18d';
}

.glyphicon-pie-chart:before {
content: '\e18e';
}

.glyphicon-freebsd:before {
content: '\e190';
}

.glyphicon-pagelines:before {
content: '\e187';
}

.glyphicon-mouse-pointer:before {
content: '\e192';
}

.glyphicon-css3-2-1:before {
content: '\e193';
}

.glyphicon-stackoverflow:before {
content: '\e194';
}

.glyphicon-skyatlas:before {
content: '\e195';
}

.glyphicon-recycle:before {
content: '\e196';
}

.glyphicon-codepen:before {
content: '\e0b6';
}

.glyphicon-comments:before {
content: '\e198';
}

.glyphicon-download-1:before {
content: '\e199';
}

.glyphicon-drupal:before {
content: '\e19a';
}

.glyphicon-gear:before {
content: '\e19b';
}

.glyphicon-html5-2:before {
content: '\e064';
}

.glyphicon-openid:before {
content: '\e197';
}

.glyphicon-share:before {
content: '\e006';
}

.glyphicon-alert-circle:before {
content: '\e182';
}

.glyphicon-alert-triangle:before {
content: '\e19c';
}

.glyphicon-gavel:before {
content: '\e19d';
}

.glyphicon-joomla:before {
content: '\e19e';
}

.glyphicon-locate:before {
content: '\e19f';
}

.glyphicon-python:before {
content: '\e1a0';
}

.glyphicon-whatsapp:before {
content: '\e1a1';
}

.glyphicon-tree:before {
content: '\e005';
}

.glyphicon-wallet:before {
content: '\e18f';
}

.glyphicon-ying-yang:before {
content: '\e1a2';
}

.glyphicon-series:before {
content: '\e1a3';
}

.glyphicon-trash-1:before {
content: '\e1a4';
}

.glyphicon-journal:before {
content: '\e1a5';
}

.glyphicon-align-center:before {
content: '\e1a6';
}

.glyphicon-align-both:before {
content: '\e1a7';
}

.glyphicon-align-left:before {
content: '\e1a8';
}

.glyphicon-align-right:before {
content: '\e1a9';
}

.glyphicon-cannabis:before {
content: '\e007';
}

.glyphicon-palette-2:before {
content: '\e008';
}

.glyphicon-qq:before {
content: '\e009';
}

.glyphicon-resize-full:before {
content: '\e00a';
}

.glyphicon-rdio:before {
content: '\e1aa';
}

.glyphicon-progress:before {
content: '\e1ab';
}

.glyphicon-info-1:before {
content: '\e1af';
}

.glyphicon-info-2:before {
content: '\e1ae';
}

.glyphicon-world-1:before {
content: '\e1ac';
}

.glyphicon-gauge:before {
content: '\e1ad';
}

.glyphicon-arrow-down-1:before {
content: '\e014';
}

.glyphicon-arrow-left-1:before {
content: '\e191';
}

.glyphicon-arrow-right-1:before {
content: '\e1b0';
}

.glyphicon-arrow-up-1:before {
content: '\e1b1';
}

.glyphicon-markdown-1:before {
content: '\e1b2';
}

.glyphicon-street-view:before {
content: '\e1b3';
}

.glyphicon-archive-download:before {
content: '\e1b5';
}

.glyphicon-chat-1:before {
content: '\e1b6';
}

.glyphicon-grid-1:before {
content: '\e1b4';
}

.glyphicon-hamburger:before {
content: '\e1b7';
}

.glyphicon-book-pages:before {
content: '\e1b8';
}

.glyphicon-shareable:before {
content: '\e1b9';
}

.glyphicon-resize-small:before {
content: '\e1ba';
}

.glyphicon-smashing:before {
content: '\e1bb';
}

.glyphicon-harddrive:before {
content: '\e1bc';
}

.glyphicon-nodejs:before {
content: '\e1be';
}

.glyphicon-google-plus-1:before {
content: '\e1bf';
}

.glyphicon-zoom-out:before {
content: '\e1c0';
}

.glyphicon-zoom-in:before {
content: '\e1c1';
}

.glyphicon-bomb:before {
content: '\e1c2';
}

.glyphicon-contract:before {
content: '\e1c3';
}

.glyphicon-crown:before {
content: '\e1c4';
}

.glyphicon-expand:before {
content: '\e1c5';
}