@import url(../libs/bootstrap/css/bootstrap.css);
@import url(glyphicons.css);

@font-face {
font-family: 'OpenSans';
src: url('../fonts/opensans.eot');
src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'),url('../fonts/opensans.woff') format('woff'),url('../fonts/opensans.ttf') format('truetype'),url('../fonts/opensans.svg#webfont') format('svg');
}

/* General */

html {
height: 100%;
}

body {
font-family: 'OpenSans',Arial,Helvetica,Sans-serif;
color: #222;
background: #fff;
height: 100%;
padding: 0;
margin: 0;
position: relative;
overflow: auto;
}

::-ms-clear {
display: none;
}

/* Overwrite and add styles to Bootstrap CSS */

hr {
border-top: 1px solid #ccc;
}

.code {
font-size: 1em;
font-family: Monospace,Monospace;
}

.text-default {
color: #555;
}

input,textarea,select,button {
box-shadow: none;
}

textarea.noresize {
resize: none;
}

.form-control {
border-radius: 3px;
}

.text-muted {
font-size: .9em;
margin: 3px 0;
}

.btn {
border-radius: 3px;
}

.btn-link,.btn-link:hover,.btn-link:focus {
text-decoration: none;
}

.btn span.glyphicon {
font-size: 16px;
}

button.close {
font-size: 28px;
}

table.table thead tr th {
font-size: .9em;
color: #777;
letter-spacing: .05em;
border: none;
}

/* Checkboxes and radio buttons UI */

input.checkbox,input.radio {
display: none;
}

input.checkbox + label,input.radio + label {
font-weight: normal;
padding-left: 23px;
margin-right: 15px;
position: relative;
display: inline-block;
cursor: pointer;
}

input.checkbox + label:before,input.radio + label:before {
content: '';
background: #fff;
width: 16px;
height: 16px;
border: 1px solid #ccc;
margin: -8px 10px 0 0;
display: inline-block;
position: absolute;
top: 50%;
left: 0;
}

input.checkbox + label:before {
border-radius: 2px;
}

input.radio + label:before {
border-radius: 50%;
}

input.checkbox:checked + label:before,input.radio:checked + label:before {
content: '\e029';
font-size: 12px;
font-family: 'Glyphicons Halflings';
line-height: 14px;
color: #fff;
background: #82b541;
text-align: center;
border: 1px solid #82b541;
}

input.checkbox[disabled] + label:before,input.radio[disabled] + label:before {
background: #ddd;
}

input.checkbox[disabled]:checked + label:before,input.radio[disabled]:checked + label:before {
color: #aaa;
}

/* Dropdown menus */

.dropdown-menu {
background: #fff;
padding: 10px;
border: none;
border-radius: 0;
}

.dropdown-menu li.separate {
padding-top: 5px;
border-top: 1px solid #ccc;
margin-top: 5px;
}

.dropdown-menu li a,.dropdown-menu li a:visited,.dropdown-menu li button {
color: #222;
line-height: 28px;
text-decoration: none;
background: transparent;
height: 28px;
padding: 0 10px;
display: block;
}

.dropdown-menu li a:hover,.dropdown-menu li a:focus,.dropdown-menu li a:active {
color: #fff;
background: #449d44;
}

/* Alerts */

.alert {
min-height: 40px;
padding: 10px 55px;
border: none;
border-radius: 1px;
margin: 15px 0;
position: relative;
}

.alert button.close {
font-size: 19px;
line-height: 19px;
background: #fff;
width: 24px;
height: 24px;
padding: 0;
border: none;
border-radius: 50%;
position: absolute;
top: 8px;
right: 8px;
opacity: .4;
}

.alert .alert-icon {
font-size: 16px;
line-height: 40px;
color: #fff;
text-align: center;
background: rgba(0,0,0,.3);
width: 40px;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

.alert p {
color: #fff;
text-align: left;
margin: 0;
}

.alert a {
color: #fff;
text-decoration: underline;
}

/*.alert-info {
background: #31708f;
}

.alert-success {
background: #3c763d;
}

.alert-warning {
background: #ac8f3b;
}

.alert-danger {
background: #a94442;
}*/

/* Modals */

.modal-footer-confirm {
text-align: center;
}

.modal-footer-confirm .btn {
padding-right: 30px;
padding-left: 30px;
margin: 0 10px;
}

/* Admin forms (setup, login, signup, lost password) */

.credential-form {
color: #fff;
background: #222;
width: 100%;
height: 100%;
display: table;
}

.credential-form .credential-form-wrapper {
text-align: center;
vertical-align: middle;
width: 100%;
height: 100%;
display: table-cell;
}

.credential-form .credential-form-wrapper .credential-form-content {
text-align: left;
background: #222;
width: 280px;
margin: 0 auto;
}

.credential-form .credential-form-wrapper .credential-form-content #alerts {
width: 100%;
padding: 0 15px;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

.credential-form .credential-form-wrapper .credential-form-content h1 {
font-size: 2.2em;
line-height: 1.3;
margin: 0;
}

.credential-form .credential-form-wrapper .credential-form-content .form-group {
position: relative;
}

.credential-form .credential-form-wrapper .credential-form-content .form-group input.form-control {
color: #fff;
background: #333;
border: none;
}

.credential-form .credential-form-wrapper .credential-form-content .form-group input.form-control:focus {
background: #444;
box-shadow: none;
}

.credential-form .credential-form-wrapper .credential-form-content .credential-form-link {
color: #777;
}

.credential-form .credential-form-wrapper .credential-form-content .form-group label {
margin: 0;
}

#login-form .credential-form-wrapper .credential-form-content .form-group span.glyphicon {
font-size: 16px;
color: #999;
position: absolute;
top: 9px;
left: 10px;
}

#login-form .credential-form-wrapper .credential-form-content .form-group input.form-control {
padding-left: 36px;
}

#setup-form .credential-form-wrapper .credential-form-content #alerts {
padding: 0;
position: static;
}

#setup-form .credential-form-wrapper .credential-form-content {
width: 420px;
}

@media all and (max-width: 991px) {

  .credential-form .credential-form-wrapper .credential-form-content h1 {
  font-size: 1.7em;
  }

  .credential-form .credential-form-wrapper .credential-form-content #alerts {
  padding: 0;
  position: static;
  }

  #setup-form .credential-form-wrapper .credential-form-content {
  width: 280px;
  }

}

/* Header */

header {
background: #333;
width: 310px;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 10;
overflow-x: hidden;
overflow-y: auto;
}

@media all and (max-width: 991px) {

  header {
  left: -310px;
  }

}

header ul {
list-style: none;
padding: 0;
margin: 0;
}

/* Header bar */

header .header-bar {
white-space: nowrap;
width: 64px;
height: 100%;
top: 0;
left: 0;
overflow: auto;
}

header .header-bar h1,.header-bar .header-close {
font-size: 32px;
font-weight: normal;
line-height: 64px;
color: #777;
text-align: center;
background: #333;
width: 100%;
height: 64px;
padding: 0;
margin: 0;
}

header .header-bar .header-close {
font-size: 16px;
border: none;
display: block;
}

header .header-bar ul {
border-top: 1px solid #444;
margin: 0 5px;
}

header .header-bar ul li {
width: 100%;
height: 50px;
padding: 5px;
}

header .header-bar ul li a,header .header-bar ul li button {
font-size: 16px;
line-height: 40px;
color: #777;
text-align: center;
text-decoration: none;
background: transparent;
width: 44px;
height: 40px;
padding: 0;
border: none;
margin: 0;
display: block;
}

header .header-bar ul li a img {
width: 24px;
height: 24px;
display: block;
position: relative;
top: 8px;
left: 10px;
}

/* Navigation */

header nav {
background: #242628;
width: 246px;
position: absolute;
top: 0;
bottom: 0;
left: 64px;
overflow: hidden;
}

/* Search */

header nav .search {
background: #111;
width: 100%;
height: 65px;
padding: 15px;
overflow: hidden;
}

header nav .search div {
color: #222;
padding: 0 10px;
border-radius: 3px;
background: #fff;
position: relative;
}

header nav .search-disabled div {
color: #aaa;
background: #eee;
}

header nav .search div input {
font-size: 1.1em;
color: inherit;
line-height: 34px;
background: transparent;
width: 168px;
height: 34px;
padding: 0;
border: none;
border-radius: 3px;
margin: 0;
display: block;
box-shadow: none;
}

header nav .search div input:focus {
box-shadow: none;
}

header nav .search div button {
font-size: 16px;
line-height: 34px;
color: inherit;
background: transparent;
width: 34px;
height: 34px;
padding: 0;
border: none;
margin: 0;
display: block;
position: absolute;
top: 0;
right: 0;
}

/* Navigation links */

header nav .nav-bar {
width: 246px;
position: absolute;
top: 65px;
bottom: 0;
left: 0;
overflow: auto;
}

header nav .nav-bar .nav-bar-content {
width: 196px;
margin-left: 25px;
}

header nav .nav-bar .nav-bar-content .site {
white-space: nowrap;
border-bottom: 1px solid #444;
margin: 0 0 10px 0;
}

header nav .nav-bar .nav-bar-content .site a {
text-decoration: none;
width: 100%;
min-height: 52px;
padding: 10px 0;
display: block;
position: relative;
}

header nav .nav-bar .nav-bar-content .site a .favicon {
background: #fff;
width: 32px;
height: 32px;
padding: 8px;
border-radius: 2px;
margin: 0;
display: block;
position: absolute;
top: 10px;
left: 0;
}

header nav .nav-bar .nav-bar-content .site a .favicon img {
width: 16px;
height: 16px;
display: block;
}

header nav .nav-bar .nav-bar-content .site a span {
font-size: .8em;
line-height: 1.3;
color: #999;
text-overflow: ellipsis;
margin-left: 40px;
display: block;
overflow: hidden;
}

header nav .nav-bar .nav-bar-content .site a span em {
font-size: 1.3em;
font-style: normal;
color: #fff;
text-overflow: ellipsis;
display: block;
overflow: hidden;
}

header nav .nav-bar .nav-bar-content h2 {
font-size: .75em;
font-weight: normal;
line-height: 1.8;
color: #777;
text-transform: uppercase;
margin: 0 0 0 10px;
}

header nav .nav-bar .nav-bar-content ul {
margin-bottom: 10px;
}

header nav .nav-bar .nav-bar-content ul li {
font-size: .95em;
}

header nav .nav-bar .nav-bar-content ul li a {
line-height: 28px;
color: #fff;
white-space: nowrap;
text-decoration: none;
text-overflow: ellipsis;
padding: 0 5px 0 10px;
border-radius: 3px;
display: block;
overflow: hidden;
}

header nav .nav-bar .nav-bar-content ul li a span {
font-size: 16px;
line-height: auto;
color: #777;
margin-right: 10px;
}

header nav .nav-bar .nav-bar-content ul li a.active {
background: #449d44;
}

header nav .nav-bar .nav-bar-content ul li a.active span {
color: #fff;
}

/* Toggle navigation button */

#toggle-nav {
font-size: 24px;
line-height: 64px;
color: #222;
text-align: center;
background: #fff;
width: 44px;
height: 64px;
padding: 0;
border: none;
margin: 0;
display: block;
position: absolute;
top: 0;
left: 0;
z-index: 5;
}

/* Main */

main {
background: #fff;
height: 100%;
margin-left: 310px;
position: relative;
z-index: 1;
overflow: hidden;
}

@media all and (max-width: 991px) {

  main {
  margin: 0;
  }

}

/* Title bar */

#title-bar {
white-space: nowrap;
background: #fff;
width: 100%;
height: 65px;
padding: 10px 20px;
border-bottom: 1px solid #ccc;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
}


#title-bar #title {
font-size: 1.6em;
line-height: 44px;
text-overflow: ellipsis;
background: #fff;
height: 44px;
padding: 0;
border: none;
border-radius: 0;
margin: 0;
display: block;
flex: 1;
overflow: hidden;
}

@media all and (max-width: 991px) {

  #title-bar {
  padding: 10px;
  }

  #title-bar #title {
  margin-left: 39px;
  }

}

/* Content */

.content {
background: #fff;
width: 100%;
position: absolute;
top: 65px;
bottom: 0;
left: 0;
overflow: auto;
}

.content-dark {
background: #eee;
}

.padding {
padding: 20px;
}

@media all and (max-width: 991px) {

  .padding {
  padding: 10px;
  }

}

.section-title {
font-size: 1em;
font-weight: bold;
line-height: 1.5;
color: #777;
letter-spacing: .05em;
padding: 0 0 5px 0;
border-bottom: 1px solid #ccc;
margin: 30px 0 0 0;
}

/* Lists */

.list {
background: #fff;
width: 100%;
position: absolute;
top: 0;
bottom: 0;
left: 0;
overflow: auto;
}

.item {
white-space: nowrap;
background: #fff;
padding: 10px 15px;
border-top: 1px solid #fff;
border-right: 5px solid #fff;
border-bottom: 1px solid #ccc;
border-left: 5px solid #fff;
display: flex;
flex-direction: row;
align-items: center;
position: relative;
}

.item:hover {
background: #eee;
border-right: 5px solid #eee;
border-left: 5px solid #eee;
}

.item-active,.item-active:hover {
border-left: 5px solid #82b541;
}

.item .item-content {
overflow: hidden;
flex: 1;
}

.item img.avatar,.item img.thumb {
margin-right: 15px;
}

.item h3 {
font-size: 1.2em;
line-height: 1.7;
text-overflow: ellipsis;
margin: 0;
overflow: hidden;
}

.item .badge {
font-weight: normal;
border-radius: 3px;
margin: -2px 0 0 5px;
}

.item p {
font-size: .9em;
line-height: 1.7;
color: #777;
text-overflow: ellipsis;
margin: 0;
overflow: hidden;
}

.item .btn {
margin: 0 0 0 10px;
}

.item p img {
margin-right: 5px;
}

.item .count {
font-size: 1.2em;
}

@media all and (max-width: 991px) {

  .item .count {
  font-size: 1em;
  }

}

.item a {
text-indent: -2000em;
text-decoration: none;
background: transparent;
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
left: 0;
}

@media all and (max-width: 991px) {

  .item {
  padding: 10px;
  }

}

/* Statuses */

.item p.status {
text-transform: uppercase;
padding: 0 10px;
border-radius: 1px;
margin-left: 15px;
}

.item p.status-owner {
color: #fff;
background: #222;
}

.item p.status-admin {
color: #fff;
background: #a94442;
}

.item p.status-editor {
color: #fff;
background: #31708f;
}

.item p.status-author {
color: #222;
background: #ccc;
}

/* Form items */

.form-item {
white-space: nowrap;
padding: 5px 0;
display: flex;
flex-direction: row;
align-items: center;
}

.form-item span.drag,.form-item span.empty {
font-size: 16px;
color: #777;
text-align: center;
width: 24px;
}

.form-item span.drag {
cursor: move;
}

.form-item .item-content {
margin: 0 5px;
flex: 1;
}

.form-item .item-content-md {
flex: 1.5;
}

.form-item .btn {
margin-left: 5px;
}

/* Settings */

.form-group label.control-label,.form-group p.control-label {
font-size: .95em;
font-weight: bold;
color: #777;
}

.form-group p.control-label {
padding: 0 15px;
margin: 0;
}

.form-group .input-control label {
font-weight: normal;
}

.form-group .input-control .form-control,.form-group .input-control button.btn {
width: auto;
display: inline-block;
}

.form-group .input-control div {
margin-bottom: 5px;
}

.form-group .input-control div label img {
margin: 0 5px;
}

@media all and (max-width: 991px) {

    .form-group .control-label {
    text-align: left;
    padding: 0 0 3px 0;
    }

    .form-group .input-control .form-control {
    width: 100%;
    display: block;
    }

}

/* Editor */

.editor-panel {
width: 50%;
position: absolute;
top: 0;
bottom: 0;
z-index: 1;
}

.editor-panel-left {
border-right: 1px solid #ccc;
left: 0;
}

.editor-panel-right {
border-left: 1px solid #ccc;
right: 0;
}

@media all and (max-width: 991px) {

    .editor-panel {
    width: 100%;
    border: none;
    }

    .editor-panel-left {
    z-index: 2;
    }

}

.editor-panel-head {
white-space: nowrap;
background: #fff;
width: 100%;
height: 41px;
padding: 5px 20px;
border-top: 1px solid #ccc;
position: absolute;
bottom: 0;
left: 0;
}

.editor-panel-head h3,.editor-panel-head p {
font-size: .8em;
line-height: 30px;
color: #777;
text-transform: uppercase;
margin: 0;
}

.editor-panel-head h3 {
float: left;
}

.editor-panel-head p,.editor-panel-head button {
float: right;
}

.editor-panel-head button {
font-size: 16px;
height: 30px;
}

.editor-panel-body {
background: #fff;
width: 100%;
position: absolute;
top: 0;
right: 0;
bottom: 41px;
left: 0;
overflow: auto;
}

.editor-panel-body .editor-panel-content {
min-height: 100%;
}

.editor-panel-body .editor-panel-content textarea {
width: 100%;
height: 100%;
padding: 20px;
border: none;
border-radius: 0;
margin: 0;
display: block;
overflow: auto;
resize: none;
}

/* Footer bar */

.footer-bar {
line-height: 30px;
white-space: nowrap;
background: #fff;
width: 100%;
height: 40px;
padding: 5px 0;
border-top: 1px solid #ccc;
position: absolute;
bottom: 0;
left: 0;
z-index: 10;
}

.footer-bar ul {
list-style: none;
padding: 0;
margin: 0;
float: left;
}

.footer-bar ul li {
padding: 0 10px;
border-left: 1px solid #ccc;
float: left;
}

.footer-bar ul li.first {
border: none;
}

.footer-bar ul li .btn {
color: inherit;
}

.footer-bar ul li .active {
font-weight: bold;
}

.footer-bar div {
padding: 0 10px;
float: right;
}

/* Sidebar */

aside {
background: #fff;
width: 311px;
height: 100%;
border-left: 1px solid #ccc;
position: fixed;
top: 0;
right: -311px;
z-index: 20;
overflow-x: hidden;
overflow-y: auto;
}

aside .title {
white-space: nowrap;
height: 65px;
padding: 10px 20px;
border-bottom: 1px solid #ccc;
}

aside .title button {
margin-top: 8px;
}

aside .title h3 {
font-size: 1.3em;
line-height: 44px;
margin: 0 30px 0 0;
}

aside .side-body {
width: 260px;
padding: 20px 0;
margin-left: 25px;
}

/* Upload box */

.upload-box {
background: #eee;
width: 100%;
height: 160px;
padding-bottom: 40px;
border: 1px dashed #ccc;
margin-bottom: 20px;
position: relative;
overflow: hidden;
}

.upload-box .upload-content {
text-align: center;
width: 100%;
height: 160px;
padding-top: 40px;
overflow: hidden;
}

.upload-box .upload-content span {
font-size: 56px;
color: #ccc;
display: block;
}

.upload-box .upload-controls {
position: absolute;
bottom: 0;
left: 0;
z-index: 10;
}

/* User profile */

#user-content {
width: 100%;
position: absolute;
top: 0;
bottom: 0;
left: 0;
overflow: auto;
}

.user-sidebar {
width: 260px;
margin-top: 20px;
position: absolute;
top: 0;
left: 20px;
}

.user-sidebar .user-sidebar-head {
text-align: center;
}

.user-sidebar .user-sidebar-head img {
border: 5px solid #fff;
}

.user-sidebar .user-sidebar-head h3 {
font-size: 1.2em;
margin: 10px 0;
}

.user-sidebar .user-sidebar-head p {
font-size: .85em;
color: #777;
margin: 0 0 30px 0;
}

.user-sidebar .user-sidebar-body h4 {
font-size: .9em;
line-height: 1.5;
white-space: nowrap;
border-bottom: 1px solid #ccc;
margin: 0 0 15px 0;
}

.user-sidebar .user-sidebar-body h4 span {
color: #777;
text-transform: uppercase;
background: #eee;
padding-right: 5px;
position: relative;
top: 10px;
left: 0;
}

.user-sidebar .user-sidebar-body ul {
list-style: none;
padding: 0;
margin: 0;
}

.user-sidebar .user-sidebar-body ul li button {
line-height: 1.5;
color: #222;
white-space: nowrap;
text-align: left;
background: transparent;
width: 100%;
padding: 5px 15px;
border: none;
border-radius: 3px;
margin: 0;
display: block;
}

.user-sidebar .user-sidebar-body ul li button span {
font-size: 16px;
}

.user-sidebar .user-sidebar-body ul li button em {
font-style: normal;
margin-left: 10px;
}

.user-sidebar .user-sidebar-body ul li button.active {
color: #fff;
background: #449d44;
}

.user-data {
background: #fff;
padding: 10px 20px;
margin: 20px 20px 20px 300px;
box-shadow: 0 0 2px #ccc;
}

@media all and (max-width: 991px) {

    #user-content {
    bottom: 49px;
    }

    .user-sidebar {
    width: 100%;
    position: static;
    }

    .user-sidebar .user-sidebar-body {
    text-align: center;
    background: #fff;
    width: 100%;
    height: 49px;
    padding: 5px;
    border-top: 1px solid #ccc;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    }

    .user-sidebar .user-sidebar-body ul li {
    display: inline-block;
    }

    .user-sidebar .user-sidebar-body ul li button {
    line-height: 38px;
    text-align: center;
    width: 48px;
    height: 38px;
    padding: 0;
    }

    .user-data {
    margin: 0;
    box-shadow: none;
    }

}