@import url(../libs/bootstrap/css/bootstrap.css);
@import url(glyphicons.css);

@font-face {
font-family: 'OpenSans';
src: url('../fonts/opensans.eot');
src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'),url('../fonts/opensans.woff') format('woff'),url('../fonts/opensans.ttf') format('truetype'),url('../fonts/opensans.svg#webfont') format('svg');
}

/* General */

html {
height: 100%;
}

body {
font-family: 'OpenSans',Arial,Helvetica,Sans-serif;
color: #222;
background: #fff;
height: 100%;
padding: 0;
margin: 0;
position: relative;
overflow: auto;
}

hr {
border-top: 1px solid #ccc;
}

.code {
font-family: Monospace,Serif;
}

/* Forms */

a,input,textarea,select,button {
box-shadow: none;
outline: 0;
}

input.radio,input.checkbox {
display: none;
}

input.radio + label,input.checkbox + label {
padding-left: 23px;
margin-right: 15px;
position: relative;
display: inline-block;
cursor: pointer;
}

input.radio + label:before,input.checkbox + label:before {
content: '';
background: #fff;
width: 16px;
height: 16px;
border: 1px solid #ccc;
margin: -8px 10px 0 0;
display: inline-block;
position: absolute;
top: 50%;
left: 0;
}

input.radio + label:before {
border-radius: 50%;
}

input.checkbox + label:before {
border-radius: 1px;
}

input.radio:checked + label:before,input.checkbox:checked + label:before {
content: '\e029';
font-size: 12px;
font-family: 'Glyphicons Halflings';
line-height: 14px;
color: #fff;
background: #82b541;
text-align: center;
border: 1px solid #82b541;
}

input.radio[disabled] + label:before,input.checkbox[disabled] + label:before {
background: #ddd;
}

input.radio[disabled]:checked + label:before,input.checkbox[disabled]:checked + label:before {
color: #aaa;
}

input.textfield,textarea,select {
line-height: 1.5;
color: #222;
background: #fff;
padding: 5px;
border: 1px solid #ccc;
border-radius: 3px;
margin: 0;
}

input.textfield:focus,input.textfield:active,textarea:focus,textarea:active,select:focus,select:active {
border-color: #337ab7;
}

::-ms-clear {
display: none;
}

button.close {
font-size: 28px;
}

.btn {
text-transform: uppercase;
border-radius: 3px;
}

.btn span.glyphicon {
font-size: 16px;
}

.btn-link span.glyphicon {
color: #444;
text-decoration: none;
}

.btn-group > .btn + .dropdown-toggle {
padding-right: 12px;
padding-left: 12px;
}

.btn-success {
background: #82b541;
border: 1px solid #82b541;
}

.modal-buttons {
text-align: center;
}

.modal-buttons button {
padding-right: 30px;
padding-left: 30px;
margin: 0 10px;
}

/* Dropdown menus */

.dropdown-menu {
background: #fff;
padding: 10px;
border: none;
border-radius: 0;
}

.dropdown-menu li.separate {
padding-top: 5px;
border-top: 1px solid #ccc;
margin-top: 5px;
}

.dropdown-menu li a,.dropdown-menu li a:visited {
color: #222;
line-height: 28px;
height: 28px;
padding: 0 10px;
border-radius: 3px;
display: block;
}

.dropdown-menu li a:hover,.dropdown-menu li a:focus,.dropdown-menu li a:active {
color: #fff;
background: #82b541;
}

/* Alerts */

.close {
opacity: .4;
}

.alert {
min-height: 40px;
padding: 10px 55px;
border: none;
border-radius: 1px;
margin: 15px 0;
position: relative;
}

.alert button.close {
font-size: 19px;
line-height: 19px;
background: #fff;
width: 24px;
height: 24px;
padding: 0;
border: none;
border-radius: 50%;
position: absolute;
top: 8px;
right: 8px;
}

.alert span.alert-icon {
font-size: 16px;
line-height: 40px;
color: #fff;
text-align: center;
background: rgba(0,0,0,.3);
width: 40px;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

.alert p {
color: #fff;
text-align: left;
margin: 0;
}

.alert a {
color: #fff;
text-decoration: underline;
}

.alert-info {
background: #31708f;
}

.alert-success {
background: #3c763d;
}

.alert-warning {
background: #ac8f3b;
}

.alert-danger {
background: #a94442;
}

/* Tables */

table.table thead tr th {
color: #777;
border: none;
}

/* Admin forms (setup, login, signup, lost password) */

.form-wrapper {
color: #fff;
background: #222;
width: 100%;
height: 100%;
display: table;
}

.form-wrapper .form-content {
text-align: center;
vertical-align: middle;
width: 100%;
height: 100%;
display: table-cell;
}

.form-wrapper .form-content .form-body {
text-align: left;
background: #222;
width: 280px;
margin: 0 auto;
}

.form-wrapper .form-content .form-body #alerts {
width: 100%;
padding: 0 15px;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

#setup-form .form-content .form-body #alerts {
padding: 0;
position: static;
}

@media all and (max-width: 991px) {

  .form-wrapper .form-content .form-body #alerts {
  padding: 0;
  position: static;
  }

}

.form-wrapper .form-content .form-body h1 {
font-size: 2.2em;
line-height: 1.5;
margin: 0;
}

.form-wrapper .form-content .form-body p.text-muted {
margin: 0 0 25px 0;
}

.form-wrapper .form-content .form-body .form-field {
margin: 15px 0;
}

.form-wrapper .form-content .form-body .form-field label {
font-weight: normal;
display: block;
}

.form-wrapper .form-content .form-body .form-field .input {
width: 100%;
position: relative;
}

#login-form .form-body .form-field .input span {
font-size: 16px;
color: #999;
position: absolute;
top: 9px;
left: 10px;
}

.form-wrapper .form-content .form-body .form-field .input input.textfield {
line-height: 24px;
color: #fff;
background: #444;
width: 100%;
height: 34px;
padding: 5px 10px;
border: none;
}

.form-wrapper .form-content .form-body .form-field .input input.textfield:focus {
background: #555;
box-shadow: none;
}

.form-wrapper .form-content .form-body .form-field p.text-muted {
font-size: .9em;
margin: 5px 0;
}

.form-wrapper .form-content .form-body p a.form-link {
color: #777;
}

.form-wrapper .form-content .form-body .form-button {
margin: 25px 0;
}

/* Setup form */

#setup-form .form-body {
width: auto;
min-width: 320px;
max-width: 420px;
}

/* Login form */

#login-form .form-body .form-field .input input.textfield {
padding: 5px 10px 5px 35px;
}

/* Header */

header {
background: #333;
width: 310px;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 10;
overflow-x: hidden;
overflow-y: auto;
}

@media all and (max-width: 991px) {

  header {
  left: -310px;
  }

}

header ul {
list-style: none;
padding: 0;
margin: 0;
}

/* Header bar */

.header-bar {
white-space: nowrap;
width: 64px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
overflow: auto;
}

.header-bar h1,.header-bar .header-bar-close {
font-size: 32px;
font-weight: normal;
line-height: 64px;
color: #777;
text-align: center;
background: #333;
width: 100%;
height: 64px;
padding: 0;
margin: 0;
}

.header-bar .header-bar-close {
font-size: 16px;
border: none;
display: block;
}

.header-bar ul {
border-top: 1px solid #444;
margin: 0 5px;
}

.header-bar ul li {
width: 100%;
height: 50px;
padding: 5px;
}

.header-bar ul li a,.header-bar ul li button {
font-size: 16px;
line-height: 40px;
color: #777;
text-align: center;
text-decoration: none;
background: transparent;
width: 44px;
height: 40px;
padding: 0;
border: none;
margin: 0;
display: block;
}

.header-bar ul li a img {
width: 24px;
height: 24px;
display: block;
position: relative;
top: 8px;
left: 10px;
}

/* Navigation */

header nav {
background: #242628;
width: 246px;
position: absolute;
top: 0;
bottom: 0;
left: 64px;
overflow: hidden;
}

/* Search */

header nav .search {
background: #111;
width: 100%;
height: 65px;
padding: 15px;
overflow: hidden;
}

header nav .search div {
color: #222;
padding: 0 10px;
border-radius: 3px;
background: #fff;
position: relative;
}

header nav .search div.disabled {
color: #aaa;
background: #eee;
}

header nav .search div input {
font-size: 1.1em;
color: inherit;
line-height: 34px;
background: transparent;
width: 168px;
height: 34px;
padding: 0;
border: none;
margin: 0;
display: block;
box-shadow: none;
}

header nav .search div input:focus {
outline: 0;
box-shadow: none;
}

header nav .search div button {
font-size: 16px;
line-height: 34px;
color: inherit;
background: transparent;
width: 34px;
height: 34px;
padding: 0;
border: none;
margin: 0;
display: block;
position: absolute;
top: 0;
right: 0;
}

/* Navigation links */

header nav .nav-bar {
width: 246px;
position: absolute;
top: 65px;
bottom: 0;
left: 0;
overflow: auto;
}

header nav .nav-bar .nav-bar-content {
width: 196px;
margin-left: 25px;
}

/* Site */

header nav .nav-bar .nav-bar-content .site {
white-space: nowrap;
border-bottom: 1px solid #444;
margin-bottom: 5px;
}

header nav .nav-bar .nav-bar-content .site a {
text-decoration: none;
width: 100%;
min-height: 56px;
padding: 10px 0;
display: block;
position: relative;
}

header nav .nav-bar .nav-bar-content .site a span {
background: #111;
width: 32px;
height: 32px;
padding: 8px;
border-radius: 3px;
display: block;
position: absolute;
top: 10px;
left: 0;
}

header nav .nav-bar .nav-bar-content .site a span img {
width: 16px;
height: 16px;
display: block;
}

header nav .nav-bar .nav-bar-content .site a em {
font-size: .8em;
font-style: normal;
line-height: 18px;
color: #ccc;
margin-left: 40px;
display: block;
}

header nav .nav-bar .nav-bar-content .site a em strong {
font-size: 1.2em;
font-weight: normal;
color: #fff;
display: block;
}

header nav .nav-bar .nav-bar-content h2 {
font-size: .7em;
font-weight: normal;
line-height: 1.8;
color: #777;
text-transform: uppercase;
margin: 0 0 0 10px;
}

header nav .nav-bar .nav-bar-content ul {
margin-bottom: 15px;
}

header nav .nav-bar .nav-bar-content ul li {
font-size: .95em;
}

header nav .nav-bar .nav-bar-content ul li a {
line-height: 28px;
color: #fff;
white-space: nowrap;
text-decoration: none;
text-overflow: ellipsis;
padding: 0 5px 0 10px;
border-radius: 3px;
display: block;
overflow: hidden;
}

header nav .nav-bar .nav-bar-content ul li a span {
font-size: 16px;
color: #777;
margin-right: 10px;
}

header nav .nav-bar .nav-bar-content ul li a.active {
background: #82b541;
}

header nav .nav-bar .nav-bar-content ul li a.active span {
color: #fff;
}

/* Toggle navigation button */

#toggle-nav {
font-size: 24px;
line-height: 64px;
color: #222;
text-align: center;
background: #fff;
width: 44px;
height: 64px;
padding: 0;
border: none;
margin: 0;
display: block;
position: absolute;
top: 0;
left: 0;
z-index: 5;
}

/* Main */

main {
background: #fff;
height: 100%;
margin-left: 310px;
position: relative;
z-index: 1;
overflow: hidden;
}

/* Title bar */

main #title-bar {
white-space: nowrap;
background: #fff;
width: 100%;
height: 65px;
padding: 10px;
border-bottom: 1px solid #ccc;
position: relative;
display: flex;
flex-direction: row;
align-items: center;
}

main #title-bar #title {
font-size: 1.6em;
line-height: 44px;
text-overflow: ellipsis;
background: #fff;
width: 100%;
height: 44px;
padding: 0 10px;
border: none;
margin: 0;
flex: 1;
overflow: hidden;
}

main #title-bar #title input {
font-size: 1em;
line-height: 44px;
background: #fff;
width: 100%;
height: 44px;
padding: 0;
border: none;
border-radius: 0;
margin: 0;
display: block;
}

main #title-bar #title-bar-controls .btn {
margin: 0 5px;
}

main #title-bar #title-bar-controls .btn-group .btn {
margin: 0;
}

@media all and (max-width: 991px) {

  main {
  margin: 0;
  }

  main #title-bar {
  padding: 10px 5px;
  }

  main #title-bar #title {
  font-size: 1.4em;
  padding-left: 45px;
  }

}

/* Content */

.content {
background: #fff;
width: 100%;
position: absolute;
top: 65px;
bottom: 0;
left: 0;
overflow: auto;
}

.content-alternate {
background: #eee;
}

.padding {
padding: 20px;
}

@media all and (max-width: 991px) {

  .padding {
  padding: 10px;
  }

}

/* Lists */

.list {
background: #fff;
width: 100%;
height: 100%;
overflow: auto;
}

.list .list-group {
margin: 15px 0;
}

.list .list-group .list-group-label {
font-size: .95em;
font-weight: bold;
line-height: 1.5;
color: #777;
padding: 10px 0;
border-bottom: 1px solid #ccc;
margin: 0;
}

.list .item {
white-space: nowrap;
background: #fff;
padding: 10px 20px;
border-bottom: 1px solid #ccc;
display: flex;
flex-direction: row;
align-items: center;
position: relative;
}

.list .item-noborder {
border: none;
}

.list .item:hover {
background: #eee;
}

.list .item .item-body {
flex: 1;
overflow: hidden;
}

.list .item .item-left {
margin-right: 15px;
}

.list .item .item-right {
margin-left: 15px;
}

.list .item h3 {
font-size: 1.2em;
line-height: 1.7;
text-overflow: ellipsis;
margin: 0;
overflow: hidden;
}

.list .item p {
font-size: .9em;
line-height: 1.7;
color: #777;
text-overflow: ellipsis;
margin: 0;
overflow: hidden;
}

.list .item a {
text-indent: -2000em;
text-decoration: none;
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
left: 0;
}

.list .item a.active {
border-left: 5px solid #82b541;
}

@media all and (max-width: 991px) {

  .list .item {
  padding: 10px;
  }

  .list .item .item-left {
  margin-right: 10px;
  }

  .list .item .item-right {
  margin-left: 10px;
  }

  .list .item h3 {
  font-size: 1em;
  }

  .list .item p {
  font-size: .85em;
  }

}

/* Posts */

.list .item p img {
margin-right: 5px;
}

/* Editor */

.editor-panel {
width: 50%;
position: absolute;
top: 0;
bottom: 0;
z-index: 1;
}

.editor-panel-left {
border-right: 1px solid #ccc;
left: 0;
}

.editor-panel-right {
border-left: 1px solid #ccc;
right: 0;
}

@media all and (max-width: 991px) {

    .editor-panel {
    width: 100%;
    border: none;
    }

    .editor-panel-left {
    z-index: 2;
    }

}

.editor-panel-head {
white-space: nowrap;
background: #fff;
width: 100%;
height: 41px;
padding: 5px 20px;
border-top: 1px solid #ccc;
position: absolute;
bottom: 0;
left: 0;
}

.editor-panel-head h3,.editor-panel-head p {
font-size: .8em;
line-height: 30px;
color: #777;
text-transform: uppercase;
margin: 0;
float: left;
}

.editor-panel-head p,.editor-panel-head button {
float: right;
}

.editor-panel-head button {
font-size: 16px;
height: 30px;
}

.editor-panel-body {
background: #fff;
width: 100%;
position: absolute;
top: 0;
right: 0;
bottom: 41px;
right: 0;
overflow: auto;
}

.editor-panel-body .editor-panel-content {
min-height: 100%;
}

.editor-panel-body .theme-editor {
height: 100%;
}

.editor-panel-body .editor-panel-content textarea {
width: 100%;
height: 100%;
padding: 20px;
border: none;
border-radius: 0;
margin: 0;
display: block;
overflow: auto;
resize: none;
}

.footer-bar {
line-height: 30px;
white-space: nowrap;
background: #fff;
width: 100%;
height: 40px;
padding: 5px 0;
border-top: 1px solid #ccc;
position: absolute;
bottom: 0;
left: 0;
z-index: 10;
}

.footer-bar ul {
list-style: none;
padding: 0;
margin: 0;
float: left;
}

.footer-bar ul li {
padding: 0 10px;
float: left;
}

.footer-bar ul li.last {
border-left: 1px solid #ccc;
}

.footer-bar ul li .btn {
color: #222;
text-decoration: none;
text-transform: none;
}

.footer-bar ul li .active {
font-weight: bold;
}

.footer-bar div {
padding: 0 10px;
float: right;
}

aside {
background: #fff;
width: 311px;
height: 100%;
border-left: 1px solid #ccc;
position: fixed;
top: 0;
right: -311px;
z-index: 20;
overflow-x: hidden;
overflow-y: auto;
}

aside .title {
white-space: nowrap;
height: 65px;
padding: 10px 25px;
border-bottom: 1px solid #ccc;
}

aside .title button {
margin-top: 8px;
}

aside .title h3 {
font-size: 1.3em;
line-height: 44px;
margin: 0 30px 0 0;
}

aside .side-body {
width: 100%;
position: absolute;
top: 65px;
bottom: 0;
left: 0;
overflow: auto;
}

aside .side-body .side-body-content {
width: 260px;
margin-left: 25px;
}

aside .side-body .side-body-content h4 {
font-size: .8em;
color: #777;
text-transform: uppercase;
margin: 10px;
}

aside .side-body .side-body-content ul {
list-style: none;
padding: 0;
margin: 10px 0;
}

aside .side-body .side-body-content ul li {
line-height: 1.2;
margin: 2px 0;
}

aside .side-body .side-body-content ul li a {
color: #222;
text-decoration: none;
padding: 5px 10px;
border-radius: 3px;
display: block;
}

aside .side-body .side-body-content ul li a.active {
color: #fff;
background: #82b541;
}

/* Form fields */

.field label {
font-size: .9em;
line-height: 1.7;
}

.field input.textfield,.field textarea,.field select {
width: 100%;
}

.field textarea.noresize {
resize: none;
}

.field {
margin: 15px 0;
}

.field p {
font-size: .9em;
margin: 0;
}

.field div {
white-space: nowrap;
margin: 2px 0;
}

.field div label {
font-weight: normal;
white-space: normal;
}

/* Upload boxes */

.upload {
background: #eee;
width: 100%;
height: 160px;
padding-bottom: 40px;
border: 1px dashed #ccc;
position: relative;
overflow: hidden;
}

.upload .upload-body {
text-align: center;
width: 100%;
height: 100%;
padding-top: 40px;
overflow: hidden;
}

.upload .upload-body span {
font-size: 48px;
color: #ccc;
display: block;
}

.upload .upload-buttons {
position: absolute;
bottom: 0;
left: 0;
z-index: 10;
}

/* Tags */

.list .item .badge {
font-weight: normal;
border-radius: 3px;
margin-left: 5px;
}

.list .item .count {
font-size: 1.3em;
}

@media all and (max-width: 991px) {

  .list .item .count {
  font-size: 1em;
  }

}

/* Themes */

.list .item .theme-active {
color: #fff;
text-transform: uppercase;
background: #31708f;
padding: 0 10px;
border-radius: 1px;
}

/* Users */

.list .item .role {
text-transform: uppercase;
padding: 0 10px;
border-radius: 1px;
}

.list .item .role-owner {
color: #fff;
background: #222;
}

.list .item .role-admin {
color: #fff;
background: #a94442;
}

.list .item .role-editor {
color: #fff;
background: #31708f;
}

.list .item .role-author {
color: #222;
background: #ccc;
}

/* User profile */

#user-content {
width: 100%;
position: absolute;
top: 0;
bottom: 0;
left: 0;
overflow: auto;
}

.user-sidebar {
width: 260px;
margin-top: 20px;
position: absolute;
top: 0;
left: 20px;
}

.user-sidebar .user-sidebar-head {
text-align: center;
}

.user-sidebar .user-sidebar-head img {
border: 5px solid #fff;
}

.user-sidebar .user-sidebar-head h3 {
font-size: 1.2em;
margin: 10px 0;
}

.user-sidebar .user-sidebar-head p {
font-size: .85em;
color: #777;
margin: 0 0 30px 0;
}

.user-sidebar .user-sidebar-body h4 {
font-size: .8em;
line-height: 1.5;
white-space: nowrap;
border-bottom: 1px solid #ccc;
margin: 0 0 15px 0;
}

.user-sidebar .user-sidebar-body h4 span {
color: #777;
text-transform: uppercase;
background: #eee;
padding-right: 5px;
position: relative;
top: 8px;
left: 0;
}

.user-sidebar .user-sidebar-body ul {
list-style: none;
padding: 0;
margin: 0;
}

.user-sidebar .user-sidebar-body ul li button {
line-height: 1.7;
color: #222;
white-space: nowrap;
text-align: left;
background: transparent;
width: 100%;
padding: 5px 15px;
border: none;
border-radius: 3px;
margin: 0;
display: block;
}

.user-sidebar .user-sidebar-body ul li button span {
font-size: 16px;
}

.user-sidebar .user-sidebar-body ul li button em {
font-style: normal;
margin-left: 10px;
}

.user-sidebar .user-sidebar-body ul li button.active {
background: #82b541;
}

.user-sidebar .user-sidebar-body ul li button.active span,.user-sidebar .user-sidebar-body ul li button.active em {
color: #fff;
}

.user-data {
background: #fff;
padding: 10px 20px;
margin: 20px 20px 20px 300px;
box-shadow: 0 0 2px #ccc;
}

@media all and (max-width: 991px) {

    #user-content {
    bottom: 49px;
    }

    .user-sidebar {
    width: 100%;
    position: static;
    }

    .user-sidebar .user-sidebar-body {
    line-height: 38px;
    text-align: center;
    background: #fff;
    width: 100%;
    height: 49px;
    padding: 5px;
    border-top: 1px solid #ccc;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    }

    .user-sidebar .user-sidebar-body ul li {
    line-height: 38px;
    display: inline-block;
    }

    .user-sidebar .user-sidebar-body ul li button {
    text-align: center;
    width: 48px;
    height: 38px;
    border-radius: 0;
    }

    .user-data {
    margin: 0;
    box-shadow: none;
    }

}

/* Settings */

.col-label {
text-align: right;
padding: 10px;
}

.col-label label,.col-label .label {
font-size: .9em;
color: #777;
padding: 0;
margin: 8px 0 0 0;
}

.col-field {
padding: 10px;
}

.col-field label {
font-weight: normal;
}

.col-field input.textfield,.col-field textarea,.col-field select,.col-field button.btn {
display: inline-block;
}

.col-field p.text-muted {
font-size: .9em;
margin: 0;
}

.col-field div {
margin-bottom: 5px;
}

.col-field div label img {
margin: 0 5px;
}

@media all and (max-width: 991px) {

    .col-label {
    text-align: left;
    padding: 0 0 3px 0;
    }

    .col-field {
    padding: 0 0 10px 0;
    }

    .col-field input.textfield,.col-field textarea,.col-field select {
    width: 100%;
    display: block;
    }

}

/* Data item input */

.data-item {
white-space: nowrap;
padding: 5px 0;
display: flex;
flex-direction: row;
align-items: center;
overflow: hidden;
}

.data-item-drag {
text-align: center;
width: 32px;
}

.data-item-drag span {
cursor: move;
}

.data-item-input {
padding: 0 5px;
}

.data-item-label {
flex: 1;
}

.data-item-url {
flex: 1.5;
}

.data-item-input input.textfield {
width: 100%;
margin: 0;
display: block;
}

.data-item-controls {
padding-left: 5px;
}

.data-item-controls .btn {
width: 40px;
}

.data-item-controls .btn-link span {
color: #777;
}
