<form method="post" novalidate ng-submit="updateInvitation()">

<div id="renew-invite-modal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog modal-confirm" role="document">
<div class="modal-content">
<div class="modal-body">
<p>Do you want to renew the invitation for this user?</p>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-success text-uppercase">Yes</button>
<button type="button" class="btn btn-danger text-uppercase" data-dismiss="modal">No</button>
</div>
</div>
</div>
</div>

</form>