<div ng-include="'app/shared/header.html'"></div>

<!-- Help modal -->

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-title">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="help-modal-title" class="modal-title">Help</h3>
</div>
<div class="modal-body">

</div>
</div>
</div>
</div>

<!-- End help modal -->

<!-- Invite modal -->

<div id="invite-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="invite-modal-title">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="invite-modal-title" class="modal-title">Invite a new user</h3>
</div>
<div class="modal-body">
<div class="form-group">
<label for="email">E-mail address</label>
<input type="email" id="email" class="form-control" size="50" value="" placeholder="E-mail address" />
</div>
<div class="form-group">
<label for="role">Role</label>
<select id="role" class="form-control" size="1">
<option value="admin">Administrator</option>
<option value="editor">Editor</option>
<option value="author" selected="selected">Author</option>
</select>
</div>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-block btn-success text-uppercase">Send invitation</button>
</div>
</div>
</div>
</div>

<!-- End invite modal -->

<!-- Delete user modal -->

<div id="delete-user-modal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<p>Do you really want to revoke the invitation fo this user?</p>
</div>
<div class="modal-footer modal-footer-confirm">
<button type="button" class="btn btn-success text-uppercase">Yes</button>
<button type="button" class="btn btn-danger text-uppercase" data-dismiss="modal">No</button>
</div>
</div>
</div>
</div>

<!-- End delete user modal -->

<!-- Main -->

<main>

<!-- Title bar -->

<div id="title-bar">
<h2 id="title">{{$state.current.title}}</h2>
<div id="title-bar-controls">
<button type="button" class="btn btn-success text-uppercase" data-toggle="modal" data-target="#invite-modal"><span class="glyphicon glyphicon-telegram-b hidden-md hidden-lg"></span><span class="hidden-xs hidden-sm">Invite</span></button>
</div>
</div>

<!-- End title bar -->

<!-- Content -->

<div class="content">

<div class="padding">

<h3 class="section-title">Invited users</h3>

<div class="item" ng-class="($last)? 'item-noborder' : ''" ng-repeat="u in invited | orderBy : 'email' track by $index">
<gravatar email="{{u.email}}" size="48" avatar-default="mm" class="img-circle" alt="{{u.email}}" />
<div class="item-content">
<h3>{{u.email}}</h3>
<p>{{u.sent | date : 'MMMM d, yyyy'}}</p>
</div>
<button type="button" class="btn btn-sm btn-link text-uppercase" data-toggle="modal" data-target="#delete-user-modal"><span class="glyphicon glyphicon-bin-c text-danger hidden-md hidden-lg"></span><span class="hidden-xs hidden-sm">Revoke</span></button>
<button type="button" class="btn btn-sm btn-link text-uppercase"><span class="glyphicon glyphicon-telegram-b text-default hidden-md hidden-lg"></span><span class="hidden-xs hidden-sm">Resend</span></button>
</div>

<h3 class="section-title">Active users</h3>

<div class="item" ng-class="($last)? 'item-noborder' : ''" ng-repeat="u in users | orderBy : 'fullname' track by $index">
<gravatar email="{{u.email}}" size="48" avatar-default="mm" class="img-circle" alt="{{u.fullname}}" />
<div class="item-content">
<h3>{{u.fullname}}</h3>
<p>{{u.registered | date : 'MMMM d, yyyy'}}</p>
</div>
<p class="status status-{{u.role.slug}}">{{u.role.name}}</p>
<a href="users/{{u.id}}/">Edit</a>
</div>

</div>

</div>

<!-- End content -->

</main>

<!-- End main -->