<div ng-include="'app/shared/header.html'"></div>

<!-- Delete user modal -->

<div ng-include="'app/components/users/delete-user-modal.html'"></div>

<!-- End delete user modal -->

<!-- Main -->

<main>

<form name="userForm" method="post" novalidate ng-submit="updateUser()">

<!-- Title bar -->

<div class="title-bar">
<h2 id="title"><a href="users/"><span class="glyphicon glyphicon-chevron-left"></span> {{$state.current.title}}</a></h2>
<div id="title-bar-controls">
<button type="submit" class="btn btn-primary text-uppercase" ng-disabled="userForm.$invalid">Save</button>
</div>
</div>

<!-- End title bar -->

<!-- Content -->

<div class="content content-dark">
<div id="user-content">

<div class="user-sidebar">
<div class="user-sidebar-head">
<img ng-src="{{user.avatar}}?s=124&amp;r={{$root.settings.avatar_rating.value}}&amp;d={{$root.settings.default_avatar.value}}" class="avatar hidden-xs hidden-sm" alt="{{user.name}}" />
<img ng-src="{{user.avatar}}?s=64&amp;r={{$root.settings.avatar_rating.value}}&amp;d={{$root.settings.default_avatar.value}}" class="avatar hidden-md hidden-lg" alt="{{user.name}}" />
<h3>{{user.name}}</h3>
<p>Registered on {{user.created_at | date : 'MMMM d, yyyy'}}</p>
</div>
<div class="user-sidebar-body clearfix">
<h4 class="hidden-xs hidden-sm"><span>Profile</span></h4>
<ul>
<li ng-repeat="v in views track by $index"><button type="button" ng-class="(isActiveView(v.id))? 'active' : ''" ng-click="setActiveView(v.id)"><span class="glyphicon glyphicon-{{v.icon}}"></span><em class="hidden-xs hidden-sm">{{v.title}}</em></button></li>
</ul>
</div>
</div>

<div class="user-data" ng-show="isActiveView('profile')">

<div class="form-group">
<label for="fullname">Full name</label>
<input type="text" id="fullname" class="form-control" size="50" ng-model="user.name" required />
<p class="text-muted">Use your real name so people can recognise you.</p>
</div>

<div class="form-group">
<label for="location">Location</label>
<input type="text" id="location" class="form-control" size="50" ng-model="user.location" />
<p class="text-muted">Where in the world do you live?</p>
</div>

<div class="form-group">
<label for="url">Website</label>
<input type="url" id="url" class="form-control" size="50" ng-model="user.url" />
<p class="text-muted">Have a website other than this one? Link it!</p>
</div>

<div class="form-group">
<label for="description">Bio</label>
<textarea id="description" class="form-control" cols="50" rows="4" ng-model="user.description"></textarea>
<p class="text-muted">Write about you.</p>
</div>

</div>

<div class="user-data" ng-show="isActiveView('account')">

<div class="form-group">
<label for="slug">Display name</label>
<input type="text" id="slug" class="form-control" size="50" ng-model="user.slug" required />
<p class="text-muted">Name used in URLs linking to the author's posts.</p>
</div>

<div class="form-group">
<label for="email">E-mail address</label>
<input type="email" id="email" class="form-control" size="50" ng-model="user.email" required />
<p class="text-muted">Your e-mail address. It is used for login and notifications. It will never be displayed.</p>
</div>

<div class="form-group">
<label for="language">Language</label>
<select id="language" class="form-control" size="1" ng-model="user.language" required>
<option value="en_US">English (United States)</option>
<option value="it_IT">Italian (Italy)</option>
</select>
<p class="text-muted">Your preferred language.</p>
</div>

<div class="form-group">
<label for="role_id">Role</label>
<select id="role_id" class="form-control" size="1" ng-model="user.role_id" required>
<option value="{{r.id}}" ng-repeat="r in roles track by $index">{{r.name}}</option>
</select>
<p class="text-muted">Your preferred language.</p>
</div>

<hr />

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<p>If you delete your account, all your data will be lost forever.</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
<button type="button" class="btn btn-sm btn-danger text-uppercase" data-toggle="modal" data-target="#delete-user-modal">Delete account</button>
</div>
</div>

</div>

<div class="user-data" ng-show="isActiveView('stats')">



</div>

</div>
</div>

<!-- End content -->

</form>

</main>

<!-- End main -->