<div ng-include="'app/shared/header.html'"></div>

<!-- Main -->

<main>

<form name="settingsForm" method="post" novalidate ng-submit="updateSettings(['posts_per_page','posts_per_feed','comments_per_page'])">

<!-- Title bar -->

<div class="title-bar">
<h2 id="title">{{$state.current.title}}</h2>
<button type="submit" class="btn btn-primary text-uppercase" ng-disabled="settingsForm.$invalid">Save</button>
</div>

<!-- End title bar -->

<!-- Content -->

<div class="content">

<div class="padding">


<div class="form-group row">
<label for="posts_per_page" class="col-md-12 col-lg-4 col-form-label">Posts per page</label>
<div class="col-md-12 col-lg-8 input-control">
<input type="number" id="posts_per_page" name="posts_per_page" class="form-control" size="5" ng-model="settings.posts_per_page.value" min="1" step="1" required />
<p class="text-muted">How many posts should be displayed in each page.</p>
</div>
</div>

<div class="form-group row">
<label for="posts_per_feed" class="col-md-12 col-lg-4 col-form-label">Posts per feed</label>
<div class="col-md-12 col-lg-8 input-control">
<input type="number" id="posts_per_feed" name="posts_per_feed" class="form-control" size="5" ng-model="settings.posts_per_feed.value" min="1" step="1" required />
<p class="text-muted">How many posts should be displayed in each feed.</p>
</div>
</div>

<div class="form-group row">
<label for="posts_per_page" class="col-md-12 col-lg-4 col-form-label">Comments per page</label>
<div class="col-md-12 col-lg-8 input-control">
<input type="number" id="comments_per_page" name="comments_per_page" class="form-control" size="5" ng-model="settings.comments_per_page.value" min="1" step="1" required />
<p class="text-muted">How many comments should be displayed in each page.</p>
</div>
</div>

</div>

</div>

<!-- End content -->

</form>

</main>

<!-- End main -->