<div ng-include="'app/shared/header.html'"></div>

<!-- Help modal -->

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-title">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="help-modal-title" class="modal-title">Help</h3>
</div>
<div class="modal-body">

</div>
</div>
</div>
</div>

<!-- End help modal -->

<!-- Main -->

<main>

<form name="settingsForm" method="post" novalidate ng-submit="updateContents()">

<!-- Title bar -->

<div id="title-bar">
<h2 id="title">{{$state.current.title}}</h2>
<div id="title-bar-controls">
<button type="submit" class="btn btn-primary text-uppercase" ng-disabled="settingsForm.$invalid">Save</button>
</div>
</div>

<!-- End title bar -->

<!-- Content -->

<div class="content">

<div class="padding">

<div class="container-fluid">

<div class="form-horizontal">

<div class="form-group">
<label for="posts_per_page" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Posts per page</label>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 input-control">
<input type="number" id="posts_per_page" name="posts_per_page" class="form-control" size="5" ng-model="settings.posts_per_page" min="1" required />
<p class="text-muted">How many posts should be displayed in each page.</p>
</div>
</div>

<div class="form-group">
<label for="posts_per_feed" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Posts per feed</label>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 input-control">
<input type="number" id="posts_per_feed" name="posts_per_feed" class="form-control" size="5" ng-model="settings.posts_per_feed" min="1" required />
<p class="text-muted">How many posts should be displayed in each feed.</p>
</div>
</div>

<div class="form-group">
<label for="posts_per_page" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 control-label">Comments per page</label>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 input-control">
<input type="number" id="comments_per_page" name="comments_per_page" class="form-control" size="5" ng-model="settings.comments_per_page" min="1" required />
<p class="text-muted">How many comments should be displayed in each page.</p>
</div>
</div>

</div>

</div>

</div>

</div>

<!-- End content -->

</form>

</main>

<!-- End main -->