<div ng-include="'app/shared/header.html'"></div>

<!-- Help modal -->

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-title">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="help-modal-title" class="modal-title">Help</h3>
</div>
<div class="modal-body">

</div>
</div>
</div>
</div>

<!-- End help modal -->

<!-- Main -->

<main>

<!-- Title bar -->

<div id="title-bar">
<h2 id="title">{{$state.current.title}}</h2>
<div id="title-bar-controls">
<button type="button" class="btn btn-primary">Save</button>
</div>
</div>

<!-- End title bar -->

<!-- Content -->

<div id="content">

<div class="wrapper">

<div class="padding">

<div class="container-fluid">

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-label">
<label for="site_name">Site name</label>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-field">
<input type="text" id="site_name" class="textfield" size="40" ng-non-bindable value="I giardini di Ringford" />
<p class="text-muted">The name of your site.</p>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-label">
<label for="site_description">Site description</label>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-field">
<textarea id="site_description" cols="40" rows="4" ng-non-bindable>Fantasy, web e tecnologia</textarea>
<p class="text-muted">Describe what your site is about.</p>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-label">
<label for="admin_email">E-mail address</label>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-field">
<input type="email" id="admin_email" class="textfield" size="40" ng-non-bindable value="admin@igiardinidiringford.it" />
<p class="text-muted">Address to use for administrative notifications.</p>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-label">
<p class="label">Dated permalinks</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-field">
<input type="checkbox" id="dated_permalinks" class="checkbox" value="1" />
<label for="dated_permalinks">Include the dates in your post URLs.</label>
</div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-label">
<label for="current_theme">Theme</label>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-field">
<select id="current_theme" size="1" ng-non-bindable>
<option value="default" selected="selected">Default</option>
</select>
<p class="text-muted">Select a theme for your site.</p>
</div>
</div>

</div>

</div>

</div>

</div>

<!-- End content -->

</main>

<!-- End main -->