<div ng-include="'app/shared/header.html'"></div>

<!-- Help modal -->

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-title">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="help-modal-title" class="modal-title">Help</h3>
</div>
<div class="modal-body">

</div>
</div>
</div>
</div>

<!-- End help modal -->

<!-- Delete post modal -->

<div id="delete-post-modal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<p>Do you really want to delete this post?</p>
</div>
<div class="modal-footer modal-footer-confirm">
<button type="button" class="btn btn-success text-uppercase">Yes</button>
<button type="button" class="btn btn-danger text-uppercase" data-dismiss="modal">No</button>
</div>
</div>
</div>
</div>

<!-- End delete post modal -->

<!-- Delete media modal -->

<div id="delete-media-modal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<p>Do you really want to delete this media?</p>
</div>
<div class="modal-footer modal-buttons">
<button type="button" class="btn btn-success text-uppercase">Yes</button>
<button type="button" class="btn btn-danger text-uppercase" data-dismiss="modal">No</button>
</div>
</div>
</div>
</div>

<!-- End delete media modal -->

<!-- Markdown help modal -->

<div id="markdown-help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="markdown-help-modal-title">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="markdown-help-modal-title" class="modal-title">Markdown help</h3>
</div>
<div class="modal-body">
<table class="table table-striped">
<thead>
<tr>
<th>Result</th>
<th>Markdown</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>Bold</strong></td>
<td>**text**</td>
</tr>
<tr>
<td><em>Emphasize</em></td>
<td>*text*</td>
</tr>
<tr>
<td><del>Strike-through</del></td>
<td>~~text~~</td>
</tr>
<tr>
<td><code>Inline code</code></td>
<td>`code`</td>
</tr>
<tr>
<td>List</td>
<td>* item</td>
</tr>
<tr>
<td class="text-primary">Link</td>
<td>[title](http://)</td>
</tr>
<tr>
<td>Image</td>
<td>![alt](http://)</td>
</tr>
<tr>
<td>Horizontal rule</td>
<td>---</td>
</tr>
<tr>
<td>Blockquote</td>
<td>&gt; quote</td>
</tr>
<tr>
<td>H1</td>
<td># Heading</td>
</tr>
<tr>
<td>H2</td>
<td>## Heading</td>
</tr>
<tr>
<td>H3</td>
<td>### Heading</td>
</tr>
<tr>
<td>H4</td>
<td>#### Heading</td>
</tr>
<tr>
<td>H5</td>
<td>##### Heading</td>
</tr>
<tr>
<td>H6</td>
<td>###### Heading</td>
</tr>
</tbody>
</table>
<p>For further Markdown syntax reference: <a href="https://daringfireball.net/projects/markdown/syntax">Markdown documentation</a>.</p>
</div>
</div>
</div>
</div>

<!-- End Markdown help modal -->

<!-- Main -->

<main>

<!-- Title bar -->

<div id="title-bar">
<input type="text" id="title" size="50" value="" placeholder="Your post title here" />
<div id="title-bar-controls">
<button type="button" class="btn btn-sm btn-link" ng-click="showSidebar($event)"><span class="glyphicon glyphicon-gear text-default"></span><span class="sr-only">Post settings</span></button>
<div class="btn-group">
<button type="button" class="btn btn-primary text-uppercase">Save draft</button>
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
<ul class="dropdown-menu dropdown-menu-right">
<li><a href="#">Publish</a></li>
<li><a href="#">Save draft</a></li>
<li class="separate"><a href="#" data-toggle="modal" data-target="#delete-post-modal">Delete post</a></li>
</ul>
</div>
</div>
</div>

<!-- End title bar -->

<!-- Content -->

<div class="content" ng-init="initEditor()">

<!-- Editor left panel -->

<div id="editor-markdown" class="editor-panel editor-panel-left">
<div class="editor-panel-head clearfix hidden-xs hidden-sm">
<h3>Markdown</h3>
<button type="button" class="btn btn-xs btn-link" data-toggle="modal" data-target="#markdown-help-modal"><span class="glyphicon glyphicon-markdown text-default"></span><span class="sr-only">Markdown help</span></button>
</div>
<div class="editor-panel-body syncscroll" data-syncscroll="editor-scroll">
<div class="editor-panel-content padding code"></div>
</div>
</div>

<!-- End editor left panel -->

<!-- Editor right panel -->

<div id="editor-preview" class="editor-panel editor-panel-right">
<div class="editor-panel-head clearfix hidden-xs hidden-sm">
<h3>Preview</h3>
<p>Words: 0</p>
</div>
<div class="editor-panel-body syncscroll" data-syncscroll="editor-scroll">
<div class="editor-panel-content padding"></div>
</div>
</div>

<!-- End editor right panel -->

<!-- Editor controls -->

<div id="editor-controls" class="footer-bar hidden-md hidden-lg clearfix">
<ul>
<li class="even first"><button type="button" class="btn btn-xs btn-link text-default active">Markdown</button></li>
<li class="odd last"><button type="button" class="btn btn-xs btn-link text-default">Preview</button></li>
</ul>
<div>
<button type="button" class="btn btn-xs btn-link" data-toggle="modal" data-target="#markdown-help-modal"><span class="glyphicon glyphicon-markdown text-default"></span><span class="sr-only">Markdown help</span></button>
</div>
</div>

<!-- End editor controls -->

</div>

<!-- End content -->

</main>

<!-- End main -->

<!-- Sidebar -->

<aside>
<div class="title clearfix">
<button type="button" class="close" aria-label="Close" ng-click="hideSidebar($event)"><span aria-hidden="true">&times;</span></button>
<h3>Post settings</h3>
</div>
<div class="content">
<div class="padding">

<div class="upload-box">
<div class="upload-content">
<span class="glyphicon glyphicon-image"></span>
</div>
<div class="upload-controls">
<button type="button" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-link-a text-default"></span><span class="sr-only">From URL</span></button>
<button type="button" class="btn btn-sm btn-link" data-target="#delete-media-modal"><span class="glyphicon glyphicon-bin-c text-default"></span><span class="sr-only">Delete</span></button>
</div>
</div>

<div class="form-group">
<label for="slug" class="control-label">Slug</label>
<input type="text" id="slug" class="form-control" size="50" value="" />
<p class="text-muted">http://igiardinidiringford.it/</p>
</div>

<div class="form-group">
<label for="date" class="control-label">Publish date</label>
<input type="date" id="date" class="form-control" size="19" maxlength="19" value="2017-01-09 23:18:12" />
</div>

<div class="form-group">
<label for="author" class="control-label">Author</label>
<select id="author" class="form-control" size="1">
<option value="1" selected="selected">Alexandro Morato</option>
<option value="3">Benedetta Pini</option>
<option value="4">Antonio Frattolillo</option>
<option value="2">Ilaria Carli</option>
</select>
</div>

<div class="form-group">
<label for="tags" class="control-label">Tags</label>
<input type="text" id="tags" class="form-control" size="50" value="" />
<p class="text-muted">Separate each tag with a comma.</p>
</div>

<div class="form-group">
<label for="excerpt" class="control-label">Excerpt</label>
<textarea id="excerpt" class="form-control noresize" cols="50" rows="4"></textarea>
</div>

<div class="form-group">
<div>
<input type="checkbox" id="type" class="checkbox" value="page" />
<label for="type">Turn into a static page</label>
</div>
<div>
<input type="checkbox" id="featured" class="checkbox" value="1" />
<label for="featured">Feature this post</label>
</div>
<div>
<input type="checkbox" id="comment_status" class="checkbox" value="close" />
<label for="comment_status">Close comments</label>
</div>
</div>

<div class="form-group">
<label for="keywords" class="control-label">Meta keywords</label>
<input type="text" id="keywords" class="form-control" size="50" value="" />
<p class="text-muted">Meta tag keywords.</p>
</div>

<div class="form-group">
<label for="description" class="control-label">Meta description</label>
<textarea id="description" class="form-control noresize" cols="50" rows="4"></textarea>
<p class="text-muted">Meta tag description.</p>
</div>

</div>
</div>
</aside>

<!-- End sidebar -->