<div ng-include="'app/shared/header.html'"></div>

<!-- Help modal -->

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-title">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="help-modal-title" class="modal-title">Help</h3>
</div>
<div class="modal-body">

</div>
</div>
</div>
</div>

<!-- End help modal -->

<!-- Main -->

<main>

<!-- Title bar -->

<div id="title-bar">
<h2 id="title">{{$state.current.title}}</h2>
<div id="title-bar-controls">
<a href="#/editor/" class="btn btn-success"><span class="glyphicon glyphicon-plus hidden-md hidden-lg"></span><span class="hidden-xs hidden-sm">New post</span></a>
</div>
</div>

<!-- End title bar -->

<!-- Content -->

<div id="content">

<div class="list">

<div class="item" ng-repeat="p in posts track by $index">
<div class="item-body">
<h3>{{p.title}}</h3>
<p><gravatar email="{{p.author.email}}" size="24" alt="{{p.author.fullname}}" class="img-circle" avatar-default="mm" /> <span ng-if="p.status!=='draft'">{{p.date | date : 'MMMM d, yyyy'}}</span><span class="text-danger" ng-if="p.status==='draft'">Draft</span></p>
</div>
<a href="#/editor/{{p.id}}/">Edit</a>
</div>

</div>

</div>

<!-- End content -->

</main>

<!-- End main -->