<div ng-include="'app/shared/header.html'"></div>

<!-- Help modal -->

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-title">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="help-modal-title" class="modal-title">Help</h3>
</div>
<div class="modal-body">

</div>
</div>
</div>
</div>

<!-- End help modal -->

<!-- Main -->

<main>

<!-- Title bar -->

<div id="title-bar">
<h2 id="title">{{$state.current.title}}</h2>
</div>

<!-- End title bar -->

<!-- Content -->

<div class="content content-dark">



</div>

<!-- End content -->

</main>

<!-- End main -->