<form name="updateTagForm" method="post" novalidate ng-submit="(activeTag.id)? updateTag() : addTag()">

<aside id="sidebar">
<div class="title-bar">
<h3>Tag settings</h3>
<button type="button" class="close" aria-label="Close" ng-click="hideSidebar($event)"><span aria-hidden="true">&times;</span></button>
</div>
<div class="content">
<div class="padding">

<div class="form-group">
<label for="tag_name">Name</label>
<input type="text" id="tag_name" name="tag_name" class="form-control" size="50" maxlength="191" ng-model="activeTag.name" required ng-keyup="slugify($event)" />
</div>

<div class="form-group">
<label for="tag_slug">URL</label>
<input type="text" id="tag_slug" name="tag_slug" class="form-control" size="50" maxlength="191" ng-model="activeTag.slug" required ng-pattern="/^[a-z0-9_-]+$/i" />
<p class="text-muted">http://igiardinidiringford.it/tags/<span ng-if="activeTag.slug">{{activeTag.slug}}/</span></p>
</div>

<div class="form-group">
<label for="tag_description">Description</label>
<textarea id="tag_description" name="tag_description" class="form-control noresize" cols="50" rows="4" ng-model="activeTag.description" max-input="200"></textarea>
<div class="clearfix">
<p class="text-muted float-left">Maximum <strong>200 characters</strong>.</p>
<p class="text-muted float-right">{{activeTag.description.length || '0'}}</p>
</div>
</div>

<div class="row no-gutters align-items-center">
<div class="col order-1 text-right">
<button type="submit" class="btn btn-primary" ng-disabled="updateTagForm.$invalid">Save</button>
</div>
<div class="col">
<button type="button" class="btn btn-outline-danger border-0" data-toggle="modal" data-target="#delete-tag-modal" ng-if="activeTag.id"><span class="icon icon-bin-b"></span> Delete</button>
</div>
</div>

</div>
</div>
</aside>

</form>