<div id="setup-form" class="credential-form">

<div class="credential-form-wrapper">

<div class="credential-form-content">

<h1>Welcome to your new site</h1>

<div class="form-group">
<p class="text-muted">Let's get a few things set up so you can get started.</p>
</div>

<div id="alerts"></div>

<form name="form" method="post" novalidate ng-submit="setup()">

<div class="form-group">
<label for="sitename">Site name</label>
<input type="text" id="sitename" name="sitename" class="form-control" size="40" maxlength="100" ng-model="user.site_name" required />
<p class="text-muted">What would you like to call your site?</p>
</div>

<div class="form-group">
<label for="fullname">Full name</label>
<input type="text" id="fullname" name="fullname" class="form-control" size="40" maxlength="100" ng-model="user.fullname" required />
<p class="text-muted">The name you will sign your posts with.</p>
</div>

<div class="form-group">
<label for="email">E-mail address</label>
<input type="email" id="email" name="email" class="form-control" size="40" maxlength="100" ng-model="user.email" required />
<p class="text-muted">Used for notifications.</p>
</div>

<div class="form-group">
<label for="password">Password</label>
<input type="password" id="password" name="password" class="form-control" size="40" ng-minlength="8" ng-model="user.password" required />
<p class="text-muted">Must be at least 8 characters.</p>
</div>

<div class="form-group">
<button type="submit" class="btn btn-lg btn-block btn-success text-uppercase" ng-disabled="form.$invalid">OK, let's go</button>
</div>

</form>

</div>

</div>

</div>