<div id="setup-form" class="auth-page">

<div class="auth-body">

<form name="setupForm" method="post" novalidate ng-submit="runSetup()">

<h1>Welcome to your new site</h1>

<div class="form-group">
<p class="text-muted">Let's get a few things set up so you can get started.</p>
</div>

<div ng-if="$root.message.text" class="alert alert-{{$root.message.status}}" role="alert">
<button type="button" class="close"><span aria-hidden="true">&times;</span></button>
<div class="alert-icon">
<span class="glyphicon glyphicon-{{$root.message.icon}}"></span>
</div>
<p>{{$root.message.text}}</p>
</div>

<div class="form-group">
<label for="setup_site_name">Site name</label>
<input type="text" id="setup_site_name" name="setup_site_name" class="form-control" size="40" maxlength="200" ng-model="setup.site_name" required />
<p class="text-muted">What would you like to call your site?</p>
</div>

<div class="form-group">
<label for="setup_name">Full name</label>
<input type="text" id="setup_name" name="setup_name" class="form-control" size="40" maxlength="190" ng-model="setup.name" required />
<p class="text-muted">The name you will sign your posts with.</p>
</div>

<div class="form-group">
<label for="setup_email">E-mail address</label>
<input type="email" id="setup_email" name="setup_email" class="form-control" size="40" maxlength="190" ng-model="setup.email" required />
<p class="text-muted">Used for notifications.</p>
</div>

<div class="form-group">
<label for="setup_password">Password</label>
<input type="password" id="setup_password" name="setup_password" class="form-control" size="40" ng-minlength="8" ng-model="setup.password" required />
<p class="text-muted">Must be at least 8 characters.</p>
</div>

<div class="form-group">
<button type="submit" class="btn btn-lg btn-block btn-success text-uppercase" ng-disabled="setupForm.$invalid">OK, let's go</button>
</div>

</form>

</div>

</div>