<div ng-include="'app/shared/header.html'"></div>

<!-- Help modal -->

<div id="help-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="help-modal-title">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h3 id="help-modal-title" class="modal-title">Help</h3>
</div>
<div class="modal-body">

</div>
</div>
</div>
</div>

<!-- End help modal -->

<!-- Main -->

<main>

<!-- Title bar -->

<div id="title-bar">
<h2 id="title">{{$state.current.title}}</h2>
</div>

<!-- End title bar -->

<!-- Content -->

<div class="content">

<div class="padding">

<div ui-sortable="sortableOptions" ng-model="items">

<div class="form-item" ng-repeat="i in items track by $index">
<span class="glyphicon glyphicon-braille drag"></span>
<div class="item-content">
<input type="text" class="form-control" size="30" ng-model="items[$index].name" placeholder="Label" ng-blur="update(items[$index])" />
</div>
<div class="item-content-md">
<input type="url" class="form-control" size="50" ng-model="items[$index].url" placeholder="http://igiardinidiringford.it/" ng-blur="update(items[$index])" />
</div>
<button type="button" class="btn btn-sm btn-link" ng-click="remove(items[$index].id)"><span class="glyphicon glyphicon-bin-c text-danger"></span><span class="sr-only">Delete</span></button>
</div>

</div>

<form name="addItemForm" method="post" novalidate ng-submit="add()">
<div class="form-item">
<span class="glyphicon empty"></span>
<div class="item-content">
<input type="text" id="item-name" name="item_name" class="form-control" size="30" ng-model="newItem.name" required placeholder="Label" />
</div>
<div class="item-content-md">
<input type="url" id="item-url" name="item_url" class="form-control" size="50" ng-model="newItem.url" required placeholder="http://igiardinidiringford.it/" />
</div>
<button type="submit" class="btn btn-sm btn-success" ng-disabled="addItemForm.$invalid"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">Add</span></button>
</div>
</form>

</div>

</div>

<!-- End content -->

</main>

<!-- End main -->